@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Supplier

@{
	@await Component.InvokeAsync("Accounting", new { })
}
<div class="content-wrapper">

    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">


        <div class="row fv-plugins-icon-container">
            <div class="col-md-12">
                <div class="nav-align-top">
                    <ul class="nav nav-pills flex-column flex-md-row mb-6 gap-2 gap-lg-0">
                        <li class="nav-item"><a class="nav-link active waves-effect waves-light" href="javascript:void(0);"><i class="ti-sm ti ti-users me-1_5"></i> Account</a></li>
                    </ul>
                </div>
                <div class="card mb-6">
                    <!-- Account -->
                    
                    <div class="card-body pt-4">
                        <form method="post" asp-controller="Inventory" asp-action="AddSupplier" enctype="multipart/form-data">
                            @Html.AntiForgeryToken()
                            <input type="hidden" asp-for="ID" />
                            <input type="hidden" asp-for="Avatar" />
                            <div class="row">
                                <div class="mb-4 col-md-6 fv-plugins-icon-container">
                                    <label for="firstName" class="form-label">
                                        @ViewLocalizer["Supplier Name"]</label>
                                    <input type="text" class="form-control" aria-describedby="basic-addon1" asp-for="Name" required>
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                                </div>
                                <div class="mb-4 col-md-6 fv-plugins-icon-container">
                                    <label for="lastName" class="form-label">@ViewLocalizer["RNC"]</label>
                                    <input type="text" class="form-control" aria-describedby="basic-addon1" asp-for="RNC" required>
                                    <span asp-validation-for="RNC" class="text-danger"></span>
                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                                </div>
                                <div class="mb-4 col-md-6">
                                    <label for="email" class="form-label">@ViewLocalizer["Phone"]</label>
                                    <input type="text" class="form-control" aria-describedby="basic-addon1" asp-for="PhoneNumber">
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="mb-4 col-md-6">
                                    <label for="organization" class="form-label">@ViewLocalizer["Country"]</label>
                                    <input type="text" class="form-control" aria-describedby="basic-addon1" asp-for="Country">
                                    <span asp-validation-for="Country" class="text-danger"></span>
                                </div>
                                <div class="mb-4 col-md-6">
                                    <label class="form-label" for="phoneNumber">@ViewLocalizer["Email"]</label>
                                    <input type="email" class="form-control" aria-describedby="basic-addon1" asp-for="Email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="mb-4 col-md-6">
                                    <label for="address" class="form-label">@ViewLocalizer["City"]</label>
                                    <input type="text" class="form-control" aria-describedby="basic-addon1" asp-for="City">
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>
                                <div class="mb-4 col-md-6">
                                    <label for="state" class="form-label">@ViewLocalizer["Address"]</label>
                                    <input type="text" class="form-control" aria-describedby="basic-addon1" asp-for="Direction">
                                    <span asp-validation-for="Direction" class="text-danger"></span>
                                </div>
                                <div class="mt-4 col-md-2">
                                    <label for="zipCode" class="form-label">@ViewLocalizer["Tax Included"] </label>
                                    <input type="checkbox" class="col-sm-4 col-4" asp-for="IsTaxIncluded">
                                    <span asp-validation-for="IsTaxIncluded" class="text-danger"></span>
                                </div>
                                <div class="mt-4 col-md-2">
                                    <label class="form-label" for="country">@ViewLocalizer["Supplier Formula"]</label>
                                    <input type="checkbox" class="col-sm-4 col-4" asp-for="IsFormalSupplier">
                                    <span asp-validation-for="IsFormalSupplier" class="text-danger"></span>
                                </div>
                                <div class="mb-4 col-md-6">
                                    <label for="language" class="form-label">@ViewLocalizer["Tiempo de entrega(days)"]</label>
                                    <input type="text" class="form-control" aria-describedby="basic-addon1" asp-for="DeliveryTime">


                                    <span asp-validation-for="DeliveryTime" class="text-danger"></span>
                                </div>
                                <div class="mb-4 col-md-6">
                                    <label for="timeZones" class="form-label">@ViewLocalizer["Seller"]</label>
                                    <input type="text" class="form-control" aria-describedby="basic-addon1" asp-for="Seller">
                                    <span asp-validation-for="Seller" class="text-danger"></span>
                                </div>
                                <div class="mb-4 col-md-6">
                                    <label for="currency" class="form-label">@ViewLocalizer["Cell Phone"]</label>
                                    <input type="text" class="form-control" aria-describedby="basic-addon1" asp-for="CellPhone">
                                    <span asp-validation-for="CellPhone" class="text-danger"></span>
                                </div>
                                <div class="mb-4 col-md-6">
                                    <label for="currency" class="form-label">@ViewLocalizer["Status"]</label>
                                    <select id="egroup-status" class="select" asp-for="IsActive">
                                        <option value="true"> @ViewLocalizer["Active"]</option>
                                        <option value="false"> @ViewLocalizer["InActive"]</option>
                                    </select>
                                </div>
                                <div class="row mt-4">
                                    @* ----- Control para subir archivos ----- *@

                                    <div class="card mb-6">
                                        <div class="card-header d-flex justify-content-between align-items-center">
                                            <h5 class="mb-0 card-title">@ViewLocalizer["Photo"]</h5>
                                            <div href="javascript:void(0);" class="fw-medium">
                                                <div class="del-unit text-danger">
                                                    <a class="del-photo " href="javascript:void(0);">
                                                        @ViewLocalizer["Limpiar"]
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body text-center justify-content-center align-items-center">
                                            <div class="dropzone needsclick p-0 dz-clickable image-upload" id="dropzone-basic">
                                                <input id="avatarimgInp" type="file" name="Files" accept="image/*" style="width: 100%;opacity: 0;height: 350px;position: relative;z-index: 9;cursor: pointer;">
                                                <div class="needsclick image-uploads" style="text-align: center;width: 100%;padding: 20px 0;border-radius: 5px;position: absolute;top: 0;margin: 3rem 0 3rem;">
                                                    @if (string.IsNullOrEmpty(Model.Avatar))
                                                    {
                                                        <img id="avatarimg" class="" style="max-height: 100px;" src="~/vendor/img/profiles/avatar-15.jpg" alt="img">
                                                    }
                                                    else
                                                    {
                                                        <img id="avatarimg" class="" data-avatar="1" style="max-height: 100px;" src="@Model.Avatar" alt="img">
                                                    }
                                                    <p class="h4 needsclick pt-3 mb-2">@ViewLocalizer["Drag and drop a file to upload"]</p>
                                                    <p class="h6 text-muted d-block fw-normal mb-2">@ViewLocalizer["o"]</p>
                                                    <span class="note needsclick btn btn-sm btn-label-primary waves-effect" id="btnBrowse">@ViewLocalizer["Buscar archivo"]</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-lg-12 col-sm-12 col-12">
                                    <div class="d-flex  align-items-center pb-4" style="gap: 5px;">
                                        <h6 class="text-left"> @ViewLocalizer["Accounting"]</h6>
                                        <div class="add-unit">
                                            <a class="add-accounting-item" href="javascript:void(0);">
                                                <img src="/vendor/img/icons/plus1.svg" alt="img">
                                            </a>
                                        </div>
                                    </div>
                                    <table class="table reordertable">
                                        <thead>
                                            <tr>
                                                <td>
                                                    @ViewLocalizer["Name"]
                                                </td>
                                                <td>
                                                    @ViewLocalizer["Type"]
                                                </td>
                                                <td>
                                                    @ViewLocalizer["Number"]
                                                </td>
                                                <td>
                                                    @ViewLocalizer["Action"]
                                                </td>
                                        </thead>
                                        <tbody id="accounting-list">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="mt-2">
                                <button type="submit" class="btn btn-primary me-3 waves-effect waves-light">Save changes</button>
                                <button type="reset" class="btn btn-label-secondary waves-effect">Cancel</button>
                            </div>
                            <input type="hidden">
                        </form>
                    </div>
                    <!-- /Account -->
                </div>
               
        </div>


    </div>
    <!-- / Content -->
</div>

<!-- /add -->
<script>
	$(document).ready(function(){
		
		$("#avatarimg").on( "mouseenter", function() {
			var popupContent = document.createElement("div");
			popupContent.classList.add("popupDiv");
			popupContent.innerHTML = "<img src='" + $(this).attr('src') + "' alt = 'zoomimg' style='height: 450px'> ";

			popupContent.style.position = "absolute";

			popupContent.style.top = ($(this).offset().top + -200)+ "px";
			popupContent.style.left = ($(this).offset().left + 50)+ "px";
			popupContent.style.backgroundColor = "white";
			popupContent.style.padding = "5px";
			popupContent.style.boxShadow = "0 2px 5px rgba(0, 0, 0, 0.5)";
			popupContent.style.zIndex = "9999";
			popupContent.style.borderRadius = "10px";
			document.body.appendChild(popupContent);

			$(this).on( "mouseleave", function() {
				//document.body.removeChild(popupContent);
				$(".popupDiv").remove();
			});

		});
	
		$("#submit").click(function () {
			//$("form").submit();
			var fd = new FormData(document.querySelector('form'))
			$.ajax({
				url: "/Inventory/EditSupplier",
				type: "POST",
				data: fd,
				processData: false,
				contentType: false,
				success: function (data, textStatus, jqXHR) {
					if (data.status == 0) {
						SaveAccountItems(4, data.id, function () {
							window.location.replace("/Inventory/SupplierList");
						})
					}
					else if (data.status == 2) {
						toastr.error("@ViewLocalizer["The name should be unique."]", {})
					}
					else if (data.status == 3) {
						toastr.error("@ViewLocalizer["The RNC should be unique."]", {})
					}
					else {
						toastr.error("@ViewLocalizer["Failed to update the supplier."]", {})
					}
				},
				error: function (jqXHR, textStatus, errorThrown) {
					toastr.error("@ViewLocalizer["There was an error in processing the request."]", {})
				}
			});

		})
		$("#cancel").click(function(){
			window.location.replace("/Inventory/SupplierList");
		})
		GetAccountItems(4, @Model.ID);
		

		$(".del-photo").click(function () {
			$("#avatarimg").attr("src", "/vendor/img/profiles/avatar-15.jpg");
			$("#Avatar").val("");

		})
	})

	function readAvatarURL(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();

			reader.onload = function (e) {
				$('#avatarimg').attr('src', e.target.result);
				$("#Avatar").val(e.target.result);
			}

			reader.readAsDataURL(input.files[0]);
		}
	}

	$("#avatarimgInp").change(function () {
		readAvatarURL(this);
	});
</script>