<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">

	<!-- Product List Table -->
	<div class="card">
		<div class="card-header">
			<h5 class="card-title">@ViewLocalizer["Damaged Article List"]</h5>
			<div class="d-flex justify-content-between align-items-center row pt-4 gap-6 gap-md-0">
				<div class="col-md-2">
					<input id="filter-searchtext" type="search" class="form-control" placeholder="@ViewLocalizer["Search"]">
				</div>
				<div class="col-md-2">
					<label>@ViewLocalizer["Date From"] </label>
					<input id="damage_filter_datefrom" type="text" class="form-control datetimepicker cal-icon" placeholder="@ViewLocalizer["Choose Date"]">
				</div>
				<div class="col-md-2">
					<label>@ViewLocalizer["Date To"] </label>
					<input id="damage_filter_dateto" type="text" class="form-control datetimepicker cal-icon" placeholder="@ViewLocalizer["Choose Date"]">
				</div>
				<div class="col-md-2">
					<select id="damage-warehouse" class="select">
						<option>@ViewLocalizer["Choose Warehouse"]</option>
					</select>
				</div>
				<div class="col-md-2">
					<select id="damage-status" class="select">
						<option value="">@ViewLocalizer["Choose Status"]</option>
						<option value="1">@ViewLocalizer["Pending"]</option>
						<option value="3">@ViewLocalizer["Confirmed"]</option>
						<option value="2">@ViewLocalizer["Canceled"]</option>
					</select>
				</div>
			</div>
		</div>
		<div class="card-datatable table-responsive">
			<table id="damage-list" class="table">
				<thead class="border-top">
					<tr>
						<th>@ViewLocalizer["Action"]</th>
						<th>@ViewLocalizer["ID"] </th>
						<th>@ViewLocalizer["Warehouse"] </th>
						<th>@ViewLocalizer["Item Name"] </th>
						<th>@ViewLocalizer["Qty"]</th>
						<th>@ViewLocalizer["Unit"]</th>
						<th>@ViewLocalizer["Date"]</th>
						<th>@ViewLocalizer["Status"]</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>
<!-- / Content -->
<!-- /product list -->
<script>

	$(document).ready(function () {
		LoadWarehouse();
		$("#filter-searchtext").on("change keyup", function () {
			FilterDamage()
		});

		$("#damage-warehouse").change(function () {
			FilterDamage()
		});

		$("#damage-status").change(function () {
			FilterDamage()
		});

		$("#filter_search").click(function () {
			if ($(this).hasClass("setclose")) {
				$("#damage_filter_datefrom").val("").change();
				$("#damage_filter_dateto").val("").change();
				$("#damage-warehosue").val("").change();
				$("#damage-status").val("").change();
			}

		});

	function getCookie(cname) {
		let name = cname + "=";
		let ca = document.cookie.split(';');
		for (let i = 0; i < ca.length; i++) {
			let c = ca[i];
			while (c.charAt(0) == ' ') {
				c = c.substring(1);
			}
			if (c.indexOf(name) == 0) {
				return c.substring(name.length, c.length);
			}
		}
		return "";
	}
		$(".btn-excel").click(function () {
			var searchText = $("#filter-searchtext").val();
			var datefrom = $("#damage_filter_datefrom").val();
			var dateto = $("#damage_filter_dateto").val();
			var warehouse = $("#damage-warehouse").val();
			var status = $("#damage-status").val();

			$.ajax({
				type: "POST",
				contentType: 'application/json; charset=utf-8',
				dataType: 'json',
				url: "/Inventory/DownloadDamageArticleExcel?search=" + searchText + "&warehouse=" + warehouse + "&datefrom=" + datefrom + "&dateto=" + dateto + "&status=" + status,
				success: function (d) {
					if (d.status == 0) {
						var link = document.createElement('a');
						link.href = d.result;
						link.download = 'DamageArticle_@DateTime.Today.ToString("dd-MM-yyyy")' + ".csv";
						link.dispatchEvent(new MouseEvent('click'));
					}
					else {
						toastr.error(d.message, {})
					}
				},
				error: function () {
					toastr.error("@ViewLocalizer["There was an error in processing the request."]", {})
				}

			});
		});

		$(".btn-pdf").click(function () {
			var searchText = $("#filter-searchtext").val();
			var datefrom = $("#damage_filter_datefrom").val();
			var dateto = $("#damage_filter_dateto").val();
			var warehouse = $("#damage-warehouse").val();
			var status = $("#damage-status").val();

			$.ajax({
				type: "POST",
				url: "/Inventory/DownloadDamageArticlePDF?search=" + searchText + "&warehouse=" + warehouse + "&datefrom=" + datefrom + "&dateto=" + dateto + "&status=" + status,
				success: function (data) {
					if (data.status == 0) {
						window.open(data.url, '_blank');
					}
				},
				error: function () {
					toastr.error("@ViewLocalizer["There was an error in processing the request."]", {})
				}
			});
		});

	})


	var damagetable = $("#damage-list").DataTable({
		"processing": true, // for show progress bar
		"serverSide": true, // for process server side
		dom:
			'<"card-header d-flex border-top rounded-0 flex-wrap py-0 flex-column flex-md-row align-items-start"' +
			'<"me-5 ms-n4 pe-5 mb-n6 mb-md-0">' +
			'<"d-flex justify-content-start justify-content-md-end align-items-baseline"<"dt-action-buttons d-flex flex-column align-items-start align-items-sm-center justify-content-sm-center pt-0 gap-sm-4 gap-sm-0 flex-sm-row"lB>>' +
			'>t' +
			'<"row"' +
			'<"col-sm-12 col-md-6"i>' +
			'<"col-sm-12 col-md-6"p>' +
			'>',
		"orderMulti": false, // for disable multiple column at once
		"ajax": {
			"url": "/Inventory/GetArticleList",
			"type": "POST",
			"datatype": "json",
			"complete": function () {
				$(".imgzoom").each(function () {
					$(this).on("mouseenter", function () {
						var popupContent = document.createElement("div");
						popupContent.classList.add("popupDiv");
						popupContent.innerHTML = "<img src='" + $(this).attr('src') + "' alt = 'zoomimg' style='height: 450px'> ";

						popupContent.style.position = "absolute";

						popupContent.style.top = ($(this).offset().top + -200) + "px";
						popupContent.style.left = ($(this).offset().left + 50) + "px";
						popupContent.style.backgroundColor = "white";
						popupContent.style.padding = "5px";
						popupContent.style.boxShadow = "0 2px 5px rgba(0, 0, 0, 0.5)";
						popupContent.style.zIndex = "9999";
						popupContent.style.borderRadius = "10px";
						document.body.appendChild(popupContent);

						$(this).on("mouseleave", function () {
							//document.body.removeChild(popupContent);
							$(".popupDiv").remove();
						});



					});
				});

			}
		},
		'select': {
			'style': 'multi'
		},
		"pageLength": 10,
		"lengthMenu": [10, 25, 50],
		"order": [[1, 'asc']],
		"columns": [
			{
				'data': 'action', 'name': 'action',
				render: function (data, type, row) {
					return "<a class='me-3' href='/Inventory/AddDamageArticle?damageArticleID=" + row.id + "' ><img src='/vendor/img/icons/edit.svg' alt='img'></a>";
				},
				"autoWidth": true,
			},
			{ "data": "id", "name": "id", "autoWidth": true },
			{ "data": "warehouseName", "name": "warehouseName", "autoWidth": true },
			{ "data": "name", "name": "name", "autoWidth": true },
			{ "data": "qty", "name": "qty", "autoWidth": true },
			{ "data": "unitName", "name": "unitName", "autoWidth": true },
			{ "data": "damageDate", "name": "realDamageDate", "autoWidth": true },
			{
				'data': 'status', 'name': 'status',
				render: function (data, type, row) {
					if (row.status == 1) {
						return "<span class='badges bg-lightyellow'>@ViewLocalizer["Pending"]</span>";
					}
					else if (row.status == 2) {
						return "<span class='badges bg-lightred'>@ViewLocalizer["Canceled"]</span>";
					}
					else if (row.status == 3) {
						return "<span class='badges bg-lightgreen'>@ViewLocalizer["Confirmed"]</span>";
					}
				},
				"autoWidth": true
			},
		],
		// Buttons with Dropdown
		buttons: [
			{
				extend: 'collection',
				className: 'btn btn-label-secondary dropdown-toggle me-4 waves-effect waves-light',
				text: '<i class="ti ti-upload me-1 ti-xs"></i>Export',
				buttons: [
					{
						extend: 'print',
						text: '<i class="ti ti-printer me-2" ></i>Print',
						className: 'dropdown-item',
						exportOptions: {
							columns: [1, 3, 4, 5, 6],
							format: {
								body: function (inner, coldex, rowdex) {
									if (inner.length <= 0) return inner;
									var el = $.parseHTML(inner);
									var result = '';
									$.each(el, function (index, item) {
										if (item.classList !== undefined && item.classList.contains('article-name')) {
											result = result + item.lastChild.firstChild.textContent;
										} else if (item.innerText === undefined) {
											result = result + item.textContent;
										} else result = result + item.innerText;
									});
									return result;
								}
							}
						},
						customize: function (win) {
							// Customize print view for dark
							$(win.document.body)
								.css('color', headingColor)
								.css('border-color', borderColor)
								.css('background-color', bodyBg);
							$(win.document.body)
								.find('table')
								.addClass('compact')
								.css('color', 'inherit')
								.css('border-color', 'inherit')
								.css('background-color', 'inherit');
						}
					},
					{
						extend: 'csv',
						text: '<i class="ti ti-file me-2" ></i>Csv',
						className: 'dropdown-item',
						exportOptions: {
							columns: [1, 3, 4, 5, 6],
							format: {
								body: function (inner, coldex, rowdex) {
									if (inner.length <= 0) return inner;
									var el = $.parseHTML(inner);
									var result = '';
									$.each(el, function (index, item) {
										if (item.classList !== undefined && item.classList.contains('article-name')) {
											result = result + item.lastChild.firstChild.textContent;
										} else if (item.innerText === undefined) {
											result = result + item.textContent;
										} else result = result + item.innerText;
									});
									return result;
								}
							}
						}
					},
					{
						extend: 'excel',
						text: '<i class="ti ti-file-export me-2"></i>Excel',
						className: 'dropdown-item',
						exportOptions: {
							columns: [1, 3, 4, 5, 6],
							format: {
								body: function (inner, coldex, rowdex) {
									if (inner.length <= 0) return inner;
									var el = $.parseHTML(inner);
									var result = '';
									$.each(el, function (index, item) {
										if (item.classList !== undefined && item.classList.contains('article-name')) {
											result = result + item.lastChild.firstChild.textContent;
										} else if (item.innerText === undefined) {
											result = result + item.textContent;
										} else result = result + item.innerText;
									});
									return result;
								}
							}
						}
					},
					{
						extend: 'pdf',
						text: '<i class="ti ti-file-text me-2"></i>Pdf',
						className: 'dropdown-item',
						exportOptions: {
							columns: [1, 3, 4, 5, 6],
							format: {
								body: function (inner, coldex, rowdex) {
									if (inner.length <= 0) return inner;
									var el = $.parseHTML(inner);
									var result = '';
									$.each(el, function (index, item) {
										if (item.classList !== undefined && item.classList.contains('article-name')) {
											result = result + item.lastChild.firstChild.textContent;
										} else if (item.innerText === undefined) {
											result = result + item.textContent;
										} else result = result + item.innerText;
									});
									return result;
								}
							}
						}
					},
				]
			},
			{
				text: '<i class="ti ti-plus me-0 me-sm-1 ti-xs"></i><span class="d-none d-sm-inline-block">@ViewLocalizer["Add Damaged Article"]</span>',
				className: 'add-new btn btn-primary ms-2 ms-sm-0 waves-effect waves-light',
				action: function () {
					window.location.href = "/Inventory/AddDamageArticle";
				}
			}
		]
	});
	$('.dataTables_length').addClass('mx-n2');
	$('.dt-buttons').addClass('d-flex flex-wrap mb-6 mb-sm-0');

	function LoadWarehouse() {

		$.ajax({
			url: "/Inventory/GetAllActiveWarehouses",
			type: "POST",
			success: function (data, textStatus, jqXHR) {
				$("#damage-warehouse").empty();
				$("#damage-warehouse").append("<option value='' selected>@ViewLocalizer["Choose warehouse"]</option>")
				for (var i = 0; i < data.length; i++) {
					var d = data[i];
					$("#damage-warehouse").append("<option value='" + d.id + "'>" + d.warehouseName + "</option>")
				}
				$("#damage-warehouse").select2();
			},
			error: function (jqXHR, textStatus, errorThrown) {
				toastr.error("@ViewLocalizer["There was an error in processing the request."]", {})
			}
		});

		$("#listwarehouse").modal("hide");
	}

	function FilterDamage() {
		var searchText = $("#filter-searchtext").val();
		var datefrom = $("#damage_filter_datefrom").val();
		var dateto = $("#damage_filter_dateto").val();
		var warehouse = $("#damage-warehouse").val();
		var status = $("#damage-status").val();

		damagetable.columns(0).search(searchText);
		damagetable.columns(1).search(datefrom);
		damagetable.columns(2).search(warehouse);
		damagetable.columns(3).search(status);
		damagetable.columns(4).search(dateto);

		damagetable.draw();
	}
</script>