<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">

	<!-- Product List Table -->
	<div class="card">
		<div class="card-header">
			<h5 class="card-title">@ViewLocalizer["Production List"]</h5>
			<div class="d-flex justify-content-between align-items-center row pt-4 gap-6 gap-md-0">
				<div class="col-md-3">
					<input id="filter-searchtext" type="search" class="form-control" placeholder="@ViewLocalizer["Search"]">
				</div>
				<div class="col-md-4">
					<select id="filter-warehouse" class="select">
					</select>
				</div>
				<div class="col-md-4">
					<select id="filter-status" class="form-select text-capitalize">
						<option value="">@ViewLocalizer["Elegir estado"]</option>
						<option value="1">@ViewLocalizer["Pending"]</option>
						<option value="0">@ViewLocalizer["Canceled"]</option>
						<option value="0">@ViewLocalizer["Completed"]</option>
					</select>
				</div>
				<div class="col-md-1">
					<a href="javascript:void(0);" class="btn-pdf" data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="/vendor/img/icons/pdf.svg" alt="img"></a>
					<a href="javascript:void(0);" class="btn-excel" data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="/vendor/img/icons/excel.svg" alt="img"></a>
					<a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="/vendor/img/icons/printer.svg" alt="img"></a>

				</div>
			</div>
		</div>
		<div class="card-datatable table-responsive">
			<table id="production-list" class="table">
				<thead class="border-top">
					<tr>
						<th>@ViewLocalizer["Action"]</th>
						<th>@ViewLocalizer["ID"] </th>
						<th>@ViewLocalizer["Warehouse"] </th>
						<th>@ViewLocalizer["Sub Recipe"] </th>
						<th>@ViewLocalizer["Qty"]</th>
						<th>@ViewLocalizer["Unit"]</th>
						<th>@ViewLocalizer["Status"]</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>
<!-- / Content -->
<!-- /product list -->
<script>

	$(document).ready(function () {
		LoadWarehouse();

		$("#filter-searchtext").on("change keyup", function () {
			FilterProduction()
		});

		$("#filter-warehouse").change(function () {
			FilterProduction()
		});

		$("#filter_search").click(function () {
			if ($(this).hasClass("setclose")) {
				$("#filter-warehouse").val("").change();
			}

		});
	function getCookie(cname) {
		let name = cname + "=";
		let ca = document.cookie.split(';');
		for (let i = 0; i < ca.length; i++) {
			let c = ca[i];
			while (c.charAt(0) == ' ') {
				c = c.substring(1);
			}
			if (c.indexOf(name) == 0) {
				return c.substring(name.length, c.length);
			}
		}
		return "";
	}
		$(".btn-excel").click(function () {
			var searchText = $("#filter-searchtext").val();
			var warehouse = $("#filter-warehouse").val();

			$.ajax({
				type: "POST",
				contentType: 'application/json; charset=utf-8',
				dataType: 'json',
				url: "/Inventory/DownloadProductionExcel?search=" + searchText + "&warehouse=" + warehouse,
				success: function (d) {
					if (d.status == 0) {
						var link = document.createElement('a');
						link.href = d.result;
						link.download = 'Productions_@DateTime.Today.ToString("dd-MM-yyyy")' + ".csv";
						link.dispatchEvent(new MouseEvent('click'));
					}
					else {
						toastr.error(d.message, {})
					}
				},
				error: function () {
					toastr.error("@ViewLocalizer["There was an error in processing the request."]", {})
				}

			});
		});

		$(".btn-pdf").click(function () {
			var searchText = $("#filter-searchtext").val();
			var warehouse = $("#filter-warehouse").val();

			$.ajax({
				type: "POST",
				url: "/Inventory/DownloadProductionPDF?search=" + searchText + "&warehouse=" + warehouse,
				success: function (data) {
					if (data.status == 0) {
						window.open(data.url, '_blank');
					}
				},
				error: function () {
					toastr.error("@ViewLocalizer["There was an error in processing the request."]", {})
				}
			});
		});


	})
	
	var productiontable = $("#production-list").DataTable({
		"processing": true, // for show progress bar
		"serverSide": true, // for process server side
		dom:
			'<"card-header d-flex border-top rounded-0 flex-wrap py-0 flex-column flex-md-row align-items-start"' +
			'<"me-5 ms-n4 pe-5 mb-n6 mb-md-0">' +
			'<"d-flex justify-content-start justify-content-md-end align-items-baseline"<"dt-action-buttons d-flex flex-column align-items-start align-items-sm-center justify-content-sm-center pt-0 gap-sm-4 gap-sm-0 flex-sm-row"lB>>' +
			'>t' +
			'<"row"' +
			'<"col-sm-12 col-md-6"i>' +
			'<"col-sm-12 col-md-6"p>' +
			'>',
		"orderMulti": false, // for disable multiple column at once
		"ajax": {
			"url": "/Inventory/GetProductionList",
			"type": "POST",
			"datatype": "json",
			"complete": function () {
				$(".imgzoom").each(function () {
					$(this).on("mouseenter", function () {
						var popupContent = document.createElement("div");
						popupContent.classList.add("popupDiv");
						popupContent.innerHTML = "<img src='" + $(this).attr('src') + "' alt = 'zoomimg' style='height: 450px'> ";

						popupContent.style.position = "absolute";

						popupContent.style.top = ($(this).offset().top + -200) + "px";
						popupContent.style.left = ($(this).offset().left + 50) + "px";
						popupContent.style.backgroundColor = "white";
						popupContent.style.padding = "5px";
						popupContent.style.boxShadow = "0 2px 5px rgba(0, 0, 0, 0.5)";
						popupContent.style.zIndex = "9999";
						popupContent.style.borderRadius = "10px";
						document.body.appendChild(popupContent);

						$(this).on("mouseleave", function () {
							//document.body.removeChild(popupContent);
							$(".popupDiv").remove();
						});



					});
				});

			}
		},
		'select': {
			'style': 'multi'
		},
		"pageLength": 10,
		"lengthMenu": [10, 25, 50],
		"order": [[1, 'asc']],
		"columns": [
			{
				'data': 'action', 'name': 'action',
				render: function (data, type, row) {
					return "<a class='me-3' href='/Inventory/AddProduction?productionID=" + row.id + "' ><img src='/vendor/img/icons/edit.svg' alt='img'></a>";

				},
				"autoWidth": true,
			},
			{ "data": "id", "name": "id", "autoWidth": true },
			{ "data": "warehouseName", "name": "warehouseName", "autoWidth": true },
			{ "data": "subRecipeName", "name": "subRecipeName", "autoWidth": true },
			{ "data": "qty", "name": "qty", "autoWidth": true },
			{ "data": "unitName", "name": "unitName", "autoWidth": true },
			{
				'data': 'status', 'name': 'status',
				render: function (data, type, row) {
					if (row.status == 1) {
						return "<span class='badges bg-lightyellow'>@ViewLocalizer["Pending"]</span>";
					}
					else if (row.status == 2) {
						return "<span class='badges bg-lightred'>@ViewLocalizer["Canceled"]</span>";
					}
					else if (row.status == 3) {
						return "<span class='badges bg-lightgreen'>@ViewLocalizer["Completed"]</span>";
					}
				},
				"autoWidth": true
			},
		],
		// Buttons with Dropdown
		buttons: [
			
			{
				text: '<i class="ti ti-plus me-0 me-sm-1 ti-xs"></i><span class="d-none d-sm-inline-block">@ViewLocalizer["Add Production"]</span>',
				className: 'add-new btn btn-primary ms-2 ms-sm-0 waves-effect waves-light',
				action: function () {
					window.location.href = "/Inventory/AddProduction";
				}
			}
		]
	});
	$('.dataTables_length').addClass('mx-n2');
	$('.dt-buttons').addClass('d-flex flex-wrap mb-6 mb-sm-0');

	function LoadWarehouse() {

		$.ajax({
			url: "/Inventory/GetAllActiveWarehouses",
			type: "POST",
			success: function (data, textStatus, jqXHR) {
				$("#filter-warehouse").empty();
				$("#filter-warehouse").append("<option value='' selected>@ViewLocalizer["Choose warehouse"]</option>")
				for (var i = 0; i < data.length; i++) {
					var d = data[i];
					$("#filter-warehouse").append("<option value='" + d.id + "'>" + d.warehouseName + "</option>")
				}
				$("#filter-warehouse").select2();
			},
			error: function (jqXHR, textStatus, errorThrown) {
				toastr.error("@ViewLocalizer["There was an error in processing the request."]", {})
			}
		});

	}


	function FilterArticle() {
		var searchText = $("#filter-searchtext").val();
		var category = $("#filter-category").val();
		var subcategory = $("#filter-subcategory").val();
		var brand = $("#filter-brand").val();
		var barcode = $("#filter-barcode").val();
		var status = $("#filter-status").val();
		var supplier = $("#filter-supplier").val();

		//if (brand && brand !== "")
		setCookie("prodBrand", brand, 1);
		//if (category && category !== "")
		setCookie("prodCategory", category, 1);
		//if (subcategory && subcategory !== "")
		setCookie("prodSubCategory", subcategory, 1);


		articletable.columns(0).search(searchText);
		articletable.columns(1).search(brand);
		articletable.columns(2).search(category);
		articletable.columns(3).search(subcategory)
		articletable.columns(4).search(barcode)
		articletable.columns(5).search(status)
		articletable.columns(6).search(supplier)

		articletable.draw();
	}
</script>