@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="POS - Alfa Software">
    <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, invoice, html5, responsive, Projects">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>Work Day - ALFA POS</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/vendor/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/vendor/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/vendor/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/vendor/plugins/fontawesome/css/all.min.css">

    <!-- Datetimepicker CSS -->
    <link rel="stylesheet" href="~/vendor/css/bootstrap-datetimepicker.min.css">



    <!-- Toatr CSS -->
    <link rel="stylesheet" href="~/vendor/plugins/toastr/toatr.css">
    <!-- Main CSS -->
    <!-- Main CSS -->
    <link rel="stylesheet" href="~/vendor/css/style.css">
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }
    </style>
</head>
<body class="account-page" style="background-color:#000;">
    <div id="global-loader">
        <div class="whirly-loader"> </div>
    </div>
    <!-- Main Wrapper -->
    <div class="main-wrapper" style="background-color:#000;">
        <img class="logo-panel " src="/vendor/img/logo-circle-04.png">

        <div class="panel" style="height:auto !important">
            <div>
                <div class="modal-body">
                    <div class="col-12">
                        <div class="form-group mb-0">
                            <label style="color: white; font-size: 20px !important;">@ViewLocalizer["Choose Date"]</label>
                            <input id="work-day-date" type="text" class="datetimepicker cal-icon" value="@DateTime.Today.ToString("dd-MM-yyyy")" data-format="DD-MM-YYYY">
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button id="work-day-submit" type="button" class="btn" style="opacity: 70%; color: white; font-size: 20px !important; font-weight: 500; text-align: center; background-color: grey !important; background-size: 100% 100%; border: 2px solid white; border-radius: 15px; border: 2px solid white !important;">@ViewLocalizer["Set Day"]</button>
                    <button id="work-day-cancel" type="button" class="btn btn-danger" data-bs-dismiss="modal" style="opacity: 70%; color: white; font-size: 20px !important; font-weight: 500; text-align: center; background-color: grey !important; background-size: 100% 100%; border: 2px solid white; border-radius: 15px; border: 2px solid white !important;">@ViewLocalizer["Cancel"]</button>
                </div>

            </div>
        </div>
    </div>
    <!-- /Main Wrapper -->
    <!-- jQuery -->
    <script src="~/vendor/js/jquery-3.6.0.min.js"></script>

    <!-- Feather Icon JS -->
    <script src="~/vendor/js/feather.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="~/vendor/js/bootstrap.bundle.min.js"></script>

    <!-- Datetimepicker JS -->
    <script src="~/vendor/js/moment.min.js"></script>
    <script src="~/vendor/js/bootstrap-datetimepicker.min.js"></script>

    <!-- ColorPicker JS -->
    <script src="~/vendor/js/jquery.mask.js"></script>

    <!-- Custom JS -->
    <script src="~/vendor/js/script.js"></script>


    <!-- Mask JS -->
    <script src="~/vendor/plugins/toastr/toastr.min.js"></script>
    <script src="~/vendor/plugins/toastr/toastr.js"></script>

    <script>
        $(document).ready(function() {
            HideLoader();


        })
        $("body").on("click", ".pin", function () {
            var val = $(this).data("num");
            AddValue(val);
        });
        $("#cancel-pin").click(function () {
            $("#input-pin").data("value", "");
            UpdateDisplay();
        });


        $("#work-day-cancel").click(function() {
            window.location.replace("/POS/logout");
            return false;
        });

        $("#work-day-submit").click(function() {

            var dateselected = $("#work-day-date").val();

			$.ajax({
                url: "/Setting/SetDiaTrabajo?fecha=" + dateselected,
				type: "POST",
				//data: JSON.stringify(data),
				contentType: 'application/json;',
				dataType: 'json',
                success: function (data, textStatus, jqXHR) {

                    if (data == "OK") {
                        document.location.replace("/POS/Station");
                        return false;
                    } else {
                        toastr.error(data, {})
                    }

				},
				error: function (jqXHR, textStatus, errorThrown) {
					toastr.error("@ViewLocalizer["There was an error in processing the request."]", {})
				}
			});
        });



    </script>

</body>
</html>

