@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var warehouses = (List<Warehouse>)ViewBag.Warehouses;
    var groups = (List<Group>)ViewBag.Groups;
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/vendor/js/jquery.dataTables.min.js"></script>
<script scr="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js">
</script>
<div class="page-header">
    <div class="page-title">
        <h3>Costo de venta</h3>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="form-group">
                    <label>@ViewLocalizer["Rango de fechas"]</label>
                    <select id="date-range-selector" class="form-control">
                        <option value="">Selecciona una fecha</option>
                        <option value="today">Hoy</option>
                        <option value="yesterday">Ayer</option>
                        <option value="last7days">Últimos 7 días</option>
                        <option value="last30days">Últimos 30 días</option>
                        <option value="last90days">Últimos 90 días</option>
                        <option value="last365days">Últimos 365 días</option>
                        <option value="lastmonth">Mes pasado</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-12">
                <div class="form-group">
                    <label>@ViewLocalizer["Date From"] </label>
                    <input id="filter_datefrom" type="text" class="datetimepicker cal-icon" placeholder="@ViewLocalizer["Choose Date"]">
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="form-group">
                    <label>@ViewLocalizer["Date To"] </label>
                    <input id="filter_dateto" type="text" class="datetimepicker cal-icon" value="@DateTime.Today.ToString("dd-MM-yyyy")" placeholder="@ViewLocalizer["Choose Date"]">
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12 ">
                <div class="form-group">
                    <label>@ViewLocalizer["Almacen"] </label>
                    <select id="station-warehouse" class="select ">
                        <option value=0>All</option>
                        @foreach (var b in warehouses)
                        {
                            <option value="@b.ID">@b.WarehouseName</option>
                        }
                    </select>
                </div>

            </div>
            <div class="col-lg-6 col-sm-6 col-12">
                <div class="form-group">
                    <label>@ViewLocalizer["Group"]</label>
                    <select id="report-group" class="form-control tagging select" multiple aria-hidden="true">
                        @foreach (var g in groups)
                        {
                            <option value="@g.ID" selected>@g.GroupName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12" style="padding-top: 20px;">
                <button id="btn-report" class="btn btn-primary m-2 ">@ViewLocalizer["Generate Report"]</button>
            </div>
            <div class="col-lg-3 col-sm-6 col-12" style="padding-top: 20px;">
                <button id="btn-excelreport" class="btn btn-primary m-2 ">@ViewLocalizer["Generate Excel Report"]</button>
            </div>
        </div>

    </div>
</div>
<script>

    $(document).ready(function () {
        $("#btn-report").click(function () {
            var datefrom = $("#filter_datefrom").val();
            var dateto = $("#filter_dateto").val();
            var almacen = $("#station-warehouse").val();
            var group = $("#report-group").val();
            var data = {
                from: datefrom,
                to: dateto,
                WarehouseID: almacen,
                GroupIDs: group
            }
            ShowLoader()
            $.ajax({
                type: "POST",
                data: JSON.stringify(data),
                contentType: 'application/json;',
                dataType: 'json',
                url: "/Report/GenerateInventoryByGroupReport",
                success: function (data) {
                    HideLoader()
                    if (data.status == 0) {
                        window.open(data.url, '_blank');
                    }
                },
                error: function () {
                    toastr.error("@ViewLocalizer["There was an error in processing the request."]", {})
                }
            });
        });

        $("#btn-excelreport").click(function () {
            var datefrom = $("#filter_datefrom").val();
            var dateto = $("#filter_dateto").val();
            var almacen = $("#station-warehouse").val();
            var group = $("#report-group").val();
            var data= {
                from: datefrom,
                to : dateto,
                WarehouseID : almacen,
                GroupIDs : group
            }
            ShowLoader()
            $.ajax({
                type: "POST",
                data: JSON.stringify(data),
                contentType: 'application/json;',
                dataType: 'json',
                url: "/Report/InventoryByGroupReportExcel",
                success: function (data) {
                    HideLoader()
                    if (data.status == 0) {
                        window.open(data.url, '_blank');
                    }
                },
                error: function () {
                    toastr.error("@ViewLocalizer["There was an error in processing the request."]", {})
                }
            });
        });

        function formatDate(date) {
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();
            return day + '-' + month + '-' + year;
        }
        $("#date-range-selector").change(function () {
            var selectedValue = $(this).val();
            var currentDate = new Date();
            var currentMonth = currentDate.getMonth();
            var currentYear = currentDate.getFullYear();
            switch (selectedValue) {
                case "today":
                    var formattedDate = formatDate(currentDate); // Formatear la fecha actual
                    $("#filter_datefrom").val(formattedDate).change();
                    $("#filter_dateto").val(formattedDate).change();

                    break;
                case "yesterday":
                    var yesterday = new Date(currentDate);
                    yesterday.setDate(currentDate.getDate() - 1); // Obtener la fecha de ayer
                    var formattedYesterday = formatDate(yesterday); // Formatear la fecha de ayer
                    $("#filter_datefrom").val(formattedYesterday).change(); // Establecer el campo "From" con la fecha de ayer y disparar el evento change
                    $("#filter_dateto").val(formattedYesterday).change();
                    break;
                case "last7days":
                    var formattedDate = formatDate(currentDate);
                    var last7Days = new Date(currentDate);
                    last7Days.setDate(currentDate.getDate() - 6); // Restar 6 días para obtener el rango de los últimos 7 días
                    var formattedLast7Days = formatDate(last7Days);
                    $("#filter_datefrom").val(formattedLast7Days).change(); // Actualizar el valor del campo date from
                    $("#filter_dateto").val(formattedDate).change();
                    break;
                // Agrega más casos según tus necesidades
                case "last30days":
                    var formattedDate = formatDate(currentDate);
                    var last30Days = new Date(currentDate);
                    last30Days.setDate(currentDate.getDate() - 29); // Restar 29 días para obtener el rango de los últimos 30 días
                    var formattedLast30Days = formatDate(last30Days);
                    $("#filter_datefrom").val(formattedLast30Days).change();
                    $("#filter_dateto").val(formattedDate).change();
                    break;
                case "last90days":
                    var formattedDate = formatDate(currentDate);
                    var last90Days = new Date(currentDate);
                    last90Days.setDate(currentDate.getDate() - 89); // Restar 89 días para obtener el rango de los últimos 90 días
                    var formattedLast90Days = formatDate(last90Days);
                    $("#filter_datefrom").val(formattedLast90Days).change();
                    $("#filter_dateto").val(formattedDate).change();
                    break;
                case "last365days":
                    var formattedDate = formatDate(currentDate);
                    var last365Days = new Date(currentDate);
                    last365Days.setDate(currentDate.getDate() - 364); // Restar 364 días para obtener el rango de los últimos 365 días
                    var formattedLast365Days = formatDate(last365Days);
                    $("#filter_datefrom").val(formattedLast365Days).change();
                    $("#filter_dateto").val(formattedDate).change();
                    break;
                case "lastmonth":
                    var formattedDate = formatDate(currentDate);
                    var lastMonthLastDay = new Date(currentYear, currentMonth, 0);
                    var lastMonthFirstDay = new Date(currentYear, currentMonth - 1, 1);
                    var formattedLastMonthFirstDay = formatDate(lastMonthFirstDay);
                    var formattedLastMonthLastDay = formatDate(lastMonthLastDay);
                    $("#filter_datefrom").val(formattedLastMonthFirstDay).change();
                    $("#filter_dateto").val(formattedDate).change();
                    break;
            }


        });
    });


</script>