@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	var groups = (List<Group>)ViewBag.Groups;
}
<div class="content-wrapper">
	<div class="container-xxl flex-grow-1 container-p-y">
		<div class="page-header">
			<div class="page-title">
				<h3>@ViewLocalizer["Inventory Level Report"]</h3>
				<h6>@ViewLocalizer["Manage inventory level report"]</h6>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col">
						<div class="form-group">
							<label class="form-label">@ViewLocalizer["Group"]</label>
							<select id="report-group" class="select">
								<option value="">@ViewLocalizer["Choose Group"]</option>
								@foreach (var g in groups)
								{
									<option value="@g.ID">@g.GroupName</option>
								}
							</select>
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label class="form-label">@ViewLocalizer["Warehouse"] </label>
							<select id="filter-warehouse" class="select">
							</select>
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label class="form-label">@ViewLocalizer["Date"]</label>
							<div style="display: flex; flex-direction: row; align-items: center; gap: 2px;">
								<input id="filter_date" type="text" placeholder="@ViewLocalizer["Choose Date"]" value="@DateTime.Today.ToString("dd-MM-yyyy")" class="datetimepicker form-control" data-format="DD-MM-YYYY">
								<div class="addonset">
									<img src="/vendor/img/icons/calendars.svg" alt="img" width="20">
								</div>
							</div>
						</div>
					</div>
					<div class="col pt-4">
						<button id="btn-report" class="btn btn-primary m-2 ">@ViewLocalizer["Generate PDF Report"]</button>
					</div>
					<div class="col pt-4">
						<button id="btn-excelreport" class="btn btn-primary m-2 ">@ViewLocalizer["Generate Excel Report"]</button>
					</div>
				</div>
				<div class="row">

				</div>
			</div>
		</div>

	</div>
</div>




<script>

	$(document).ready(function () {
		LoadWarehouse();

		$("#btn-report").click(function () {
			var warehouse = $("#filter-warehouse").val();
			var group = $("#report-group").val();
			var date = $("#filter_date").val();
			ShowLoader()
			$.ajax({
				type: "POST",
				url: "/Report/GenerateInventoryLevelReport?warehouse=" + warehouse + "&group=" + group + "&date=" + date,
				success: function (data) {
					HideLoader()
					if (data.status == 0) {
						window.open(data.url, '_blank');
					}
				},
				error: function () {
					toastr.error("@ViewLocalizer["There was an error in processing the request."]", {})
				}
			});

		});
		$("#btn-excelreport").click(function () {
			var warehouse = $("#filter-warehouse").val();
			var group = $("#report-group").val();
			var date = $("#filter_date").val();
			ShowLoader()
			$.ajax({
				type: "POST",
				url: "/Report/GenerateExcelInventoryLevelReport?warehouse=" + warehouse + "&group=" + group + "&date=" + date,
				success: function (data) {
					HideLoader()
					if (data.status == 0) {
						window.open(data.url, '_blank');
					}
				},
				error: function () {
					toastr.error("@ViewLocalizer["There was an error in processing the request."]", {})
				}
			});

		});
	});

	function LoadWarehouse() {

		$.ajax({
			url: "/Inventory/GetAllActiveWarehouses",
			type: "POST",
			success: function (data, textStatus, jqXHR) {
				$("#filter-warehouse").empty();
				$("#filter-warehouse").append("<option value='0' selected>@ViewLocalizer["ALL"]</option>")
				for (var i = 0; i < data.length; i++) {
					var d = data[i];
					$("#filter-warehouse").append("<option value='" + d.id + "'>" + d.warehouseName + "</option>")
				}
				$("#filter-warehouse").select2();
			},
			error: function (jqXHR, textStatus, errorThrown) {
				toastr.error("@ViewLocalizer["There was an error in processing the request."]", {})
			}
		});
	}
	function ShowLoader() {
		$('#global-loader').show();
	}
	function HideLoader() {
		$("#global-loader").fadeOut("slow");
	}
</script>