@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	var groups = (List<Group>)ViewBag.Groups;
}

<div class="content-wrapper">
	<div class="container-xxl flex-grow-1 container-p-y">
		<div class="page-header">
			<div class="page-title">
				<h3>@ViewLocalizer["Purchase Report"]</h3>
				<h6>@ViewLocalizer["Manage purchase report"]</h6>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-3 col-sm-6 col-12">
						<div class="form-group">
							<label class="form-label">@ViewLocalizer["Group"]</label>
							<select id="report-group" class="select form-control">
								<option value="">@ViewLocalizer["Choose Group"]</option>
								@foreach (var g in groups)
								{
									<option value="@g.ID">@g.GroupName</option>
								}
							</select>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 col-12">
						<div class="form-group">
							<label class="form-label">@ViewLocalizer["Date From"] </label>
							<input id="filter_datefrom" type="date" class="form-control" placeholder="@ViewLocalizer["Choose Date"]">
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 col-12">
						<div class="form-group">
							<label class="form-label">@ViewLocalizer["Date To"] </label>
							<input id="filter_dateto" type="date" class="form-control" value="@DateTime.Today.ToString("dd-MM-yyyy")" placeholder="@ViewLocalizer["Choose Date"]">
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 col-12 mb-6 pt-4">
						<button id="btn-report" class="btn btn-primary m-2">@ViewLocalizer["Generate Report"]</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>


<script>

	$(document).ready(function () {
		$("#btn-report").click(function () {
			debugger;
			var datefrom = $("#filter_datefrom").val();
			let partesFecha = datefrom.split("-");      // Divide la fecha en ['2022', '08', '02']
			let fechaFormateada = `${partesFecha[2]}-${partesFecha[1]}-${partesFecha[0]}`;
			var dateto = $("#filter_dateto").val();

			let partesFechadateto = dateto.split("-");      // Divide la fecha en ['2022', '08', '02']
			let fechaFormateadadateto = `${partesFechadateto[2]}-${partesFechadateto[1]}-${partesFechadateto[0]}`;
			var group = $("#report-group").val();
			ShowLoader()
			$.ajax({
				type: "POST",
				url: "/Report/GeneratePurchaseReport?from=" + fechaFormateada + "&to=" + fechaFormateadadateto + "&group=" + group,
				success: function (data) {
					HideLoader()
					if (data.status == 0) {
						window.open(data.url, '_blank');
					}
				},
				error: function () {
					toastr.error("@ViewLocalizer["There was an error in processing the request."]", {})
				}
			});
		});
	});

	function ShowLoader() {
		$('#global-loader').show();
	}
	function HideLoader() {
		$("#global-loader").fadeOut("slow");
	}

</script>