@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="page-header">
	<div class="page-title">
		<h3>@ViewLocalizer["Void Product Report"]</h3>
	</div>
</div>

<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col-lg-3 col-sm-6 col-12">
				<div class="form-group">
					<label>@ViewLocalizer["Date From"] </label>
					<input id="filter_datefrom" type="text" class="datetimepicker cal-icon" placeholder="@ViewLocalizer["Choose Date"]">
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-12">
				<div class="form-group">
					<label>@ViewLocalizer["Date To"] </label>
					<input id="filter_dateto" type="text" class="datetimepicker cal-icon" value="@DateTime.Today.ToString("dd-MM-yyyy")" placeholder="@ViewLocalizer["Choose Date"]">
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-12" style="padding-top: 20px;">
				<button id="btn-report" class="btn btn-primary m-2">@ViewLocalizer["Generate Report"]</button>
			</div>
		</div>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-12">
                <div class="table-responsive" style="padding-bottom:70px;">

                    <table id="report-productista-list" class="table">
                        <thead id="ocultarthead">
                            <tr>
                                <th style="background-color:#493F5E; color:white; text-align:center">@ViewLocalizer["Order#"]</th>
                                <th style="background-color:#493F5E; color:white; text-align:center">@ViewLocalizer["Monto"]</th>
                                <th style="background-color:#493F5E; color:white; text-align:center">@ViewLocalizer["Producto"]</th>
                                <th style="background-color:#493F5E; color:white; text-align:center">@ViewLocalizer["Qty"]</th>
                                <th style="background-color:#493F5E; color:white; text-align:center">@ViewLocalizer["Creado"]</th>
                                <th style="background-color:#493F5E; color:white; text-align:center">@ViewLocalizer["Cancelado"]</th>
                                <th style="background-color:#493F5E; color:white; text-align:center">@ViewLocalizer["Razon"]</th>
                                <th style="background-color:#493F5E; color:white; text-align:center">@ViewLocalizer["Usuario"]</th>
                                <th style="background-color:#493F5E; color:white; text-align:center">@ViewLocalizer["Void by"]</th>
                            </tr>
                        </thead>
                        <tbody id="report-productista-list-body">
                        </tbody>
                    </table>

                    <canvas id="myChart11"></canvas>
                </div>
            </div>

        </div>

	</div>
</div>

<script>

	$(document).ready(function () {
		$("#btn-report").click(function () {
			var datefrom = $("#filter_datefrom").val();
			var dateto = $("#filter_dateto").val();
			ShowLoader()
			$.ajax({
				type: "POST",
				url: "/Report/GenerateVoidProductsReport?from=" + datefrom + "&to=" + dateto,
				success: function (data) {
					HideLoader()
					if (data.status == 0) {
						window.open(data.url, '_blank');
					}
				},
				error: function () {
					toastr.error("@ViewLocalizer["There was an error in processing the request."]", {})
				}
			});
		});

		$("#filter_datefrom").on('dp.change', function (e) {
			RefreshDayOfWeekReport();
		});

		$("#filter_dateto").on('dp.change', function (e) {
			RefreshDayOfWeekReport();
		});

		function RefreshDayOfWeekReport() 
		{
			var datefrom = $("#filter_datefrom").val();
			var dateto = $("#filter_dateto").val();
			ShowLoader()

	 		$.ajax({
				type: "POST",
				url: "/Report/ViewVoidProductsReport?from=" + datefrom + "&to=" + dateto,
				success: function (data) {

					HideLoader()
					if (data.resultado) {
						 
						var tabla  =document.getElementById("report-productista-list-body");
						while (tabla.rows.length > 0) {
							tabla.deleteRow(0); 
						}
						for (var c = 0; c < data.listmodelo.length; c++) {
						 
							var modelo = data.listmodelo[c];

							var trElement = document.createElement("tr");

							var tdOrder = document.createElement("td");
							tdOrder.setAttribute("align", "center");
							tdOrder.textContent = modelo.order;
							trElement.appendChild(tdOrder);

							var tdAmount = document.createElement("td");
							tdAmount.setAttribute("align", "center");
							tdAmount.textContent = modelo.amount;
							trElement.appendChild(tdAmount);

							var tdProduct = document.createElement("td");
							tdProduct.setAttribute("align", "center");
							tdProduct.textContent = modelo.product;
							trElement.appendChild(tdProduct);

							var tdQty = document.createElement("td");
							tdQty.setAttribute("align", "center");
							tdQty.textContent = modelo.qty;
							trElement.appendChild(tdQty);


							var tdFecha = document.createElement("td");
							tdFecha.setAttribute("align", "center");
							tdFecha.textContent = modelo.fecha;
							trElement.appendChild(tdFecha);

							var tdFechaCreado = document.createElement("td");
							tdFechaCreado.setAttribute("align", "center");
							tdFechaCreado.textContent = modelo.fechaCreado;
							trElement.appendChild(tdFechaCreado);

							var tdRazon = document.createElement("td");
							tdRazon.setAttribute("align", "center");
							tdRazon.textContent = modelo.razon;
							trElement.appendChild(tdRazon);

							var tdUsuario = document.createElement("td");
							tdUsuario.setAttribute("align", "center");
							tdUsuario.textContent = modelo.usuario;
							trElement.appendChild(tdUsuario);

							var tdvoid_by = document.createElement("td");
							tdvoid_by.setAttribute("align", "center");
							tdvoid_by.textContent = modelo.void_By;
							trElement.appendChild(tdvoid_by);

							var tabla = document.getElementById("report-productista-list-body");
							tabla.appendChild(trElement);
						}

						var elementomonto = document.createElement("tr");

						var tdvacio = document.createElement("td");
						tdvacio.setAttribute("align", "center");
						elementomonto.appendChild(tdvacio);

						var tdAmountsuma = document.createElement("td");
						tdAmountsuma.setAttribute("align", "center");
						tdAmountsuma.textContent = data.sumaAmount;
						elementomonto.appendChild(tdAmountsuma);
						var tabla = document.getElementById("report-productista-list-body");
						tabla.appendChild(elementomonto);
					}
				}

			});
		
		}
	});

</script>