@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<!-- Navigation -->
<div class="col-12 col-lg-4">
    <div class="d-flex justify-content-between flex-column mb-4 mb-md-0">
        <h5 class="mb-4">@ViewLocalizer["Settings"]</h5>
        <ul class="nav nav-align-left nav-pills flex-column">
            @if ((AuthorizationService.AuthorizeAsync(User, "Permission.BACKOFFICE.Store")).Result.Succeeded)
            {
            <li class="nav-item mb-1">
                <a class="nav-link active" href="/Setting/Preferences">
                    <i class="ti ti-building-store ti-sm me-1_5"></i>
                    <span class="align-middle">@ViewLocalizer["Preference"]</span>
                </a>
            </li>
            }
            @if ((AuthorizationService.AuthorizeAsync(User, "Permission.BACKOFFICE.PaymentMethod")).Result.Succeeded)
            {
                <li class="nav-item mb-1">
                    <a class="nav-link" href="/Setting/PaymentMethods">
                        <i class="ti ti-credit-card ti-sm me-1_5"></i>
                        <span class="align-middle">@ViewLocalizer["Métodos de pago"]</span>
                    </a>
                </li>
            }
            @if ((AuthorizationService.AuthorizeAsync(User, "Permission.BACKOFFICE.Comprobantes")).Result.Succeeded)
            {
                <li class="nav-item mb-1">
                    <a class="nav-link" href="/Setting/Vouchers">
                        <i class="ti ti-shopping-cart ti-sm me-1_5"></i>
                        <span class="align-middle">@ViewLocalizer["Comprobantes"]</span>
                    </a>
                </li>
            }
            @if ((AuthorizationService.AuthorizeAsync(User, "Permission.BACKOFFICE.Repartidores")).Result.Succeeded)
            {
                <li class="nav-item mb-1">
                    <a class="nav-link" href="/Setting/DeliveryCarriers">
                        <i class="ti ti-discount-2 ti-sm me-1_5"></i>
                        <span class="align-middle">@ViewLocalizer["Repartidores"]</span>
                    </a>
                </li>
            }
            @if ((AuthorizationService.AuthorizeAsync(User, "Permission.BACKOFFICE.ZonasReparto")).Result.Succeeded)
            {
                <li class="nav-item mb-1">
                    <a class="nav-link" href="/Setting/DeliveryZones">
                        <i class="ti ti-map-pin ti-sm me-1_5"></i>
                        <span class="align-middle">@ViewLocalizer["Zonas de Reparto"]</span>
                    </a>
                </li>
            }
            @if ((AuthorizationService.AuthorizeAsync(User, "Permission.BACKOFFICE.Repartidores")).Result.Succeeded)
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Setting/PrepareTypes">
                        <i class="ti ti-bell-ringing ti-sm me-1_5"></i>
                        <span class="align-middle">@ViewLocalizer["Tipo de ordenes"]</span>
                    </a>
                </li>
            }
            @if ((AuthorizationService.AuthorizeAsync(User, "Permission.BACKOFFICE.Tax")).Result.Succeeded)
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Setting/Taxrates">
                        <i class="ti ti-bell-ringing ti-sm me-1_5"></i>
                        <span class="align-middle">@ViewLocalizer["Tax Rates"]</span>
                    </a>
                </li>
            }
            @if ((AuthorizationService.AuthorizeAsync(User, "Permission.BACKOFFICE.Propina")).Result.Succeeded)
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Setting/Propinas">
                        <i class="ti ti-bell-ringing ti-sm me-1_5"></i>
                        <span class="align-middle">@ViewLocalizer["Propina"]</span>
                    </a>
                </li>
            }
            @if ((AuthorizationService.AuthorizeAsync(User, "Permission.BACKOFFICE.Printer")).Result.Succeeded)
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Setting/Printers">
                        <i class="ti ti-bell-ringing ti-sm me-1_5"></i>
                        <span class="align-middle">@ViewLocalizer["Printers"]</span>
                    </a>
                </li>
            }
            @if ((AuthorizationService.AuthorizeAsync(User, "Permission.BACKOFFICE.PrinterChannel")).Result.Succeeded)
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Setting/PrinterChannels">
                        <i class="ti ti-bell-ringing ti-sm me-1_5"></i>
                        <span class="align-middle">@ViewLocalizer["Printing Channels"]</span>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
<!-- /Navigation -->