

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Preference

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row g-6">

    @* Render el menu interno *@
    @Html.Partial("InternalMenu.cshtml")

    <!-- Options -->
        <div class="col-12 col-lg-8 pt-6 pt-lg-0">
            <div class="tab-content p-0">
                <!-- Store Details Tab -->
                <div class="tab-pane fade show active" id="store_details" role="tabpanel">
                    <div class="card mb-6">
                        <div class="card-header">
                            <h5 class="card-title m-0">@ViewLocalizer["General information"]</h5>
                        </div>
                        <div  class="card-body">
                            <div id="store-id" class="row mb-6 g-6" data-id="@Model.ID">
                                <div class="col-12 col-md-6">
                                    <label class="form-label mb-1" for="store-name">@ViewLocalizer["Name"]</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="store-name"
                                        value="@Model.Name"
                                    />
                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="form-label mb-1" for="store-company">@ViewLocalizer["Company"]</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="store-company"
                                        value="@Model.Company"
                                    />
                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="form-label mb-1" for="store-rnc">@ViewLocalizer["RNC"]</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="store-rnc"
                                        value="@Model.RNC"
                                    />
                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="form-label mb-1" for="store-phone">@ViewLocalizer["Phone"]</label>
                                    <input
                                        type="tel"
                                        class="form-control phone-mask"
                                        id="store-phone"
                                        value="@Model.Phone" />
                                </div>

                                <div class="col-12 col-md-6">
                                    <label class="form-label mb-1" for="store-email"
                                    >@ViewLocalizer["Email"]</label
                                    >
                                    <input
                                        type="email"
                                        class="form-control"
                                        id="store-email"
                                        value="@Model.Email" />
                                </div>
                                <div class="col-12 col-md-12">
                                    <label class="form-label mb-1" for="store-address1">@ViewLocalizer["Address"] 1</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="store-address1"
                                        value="@Model.Address1"
                                    />
                                </div>
                                <div class="col-12 col-md-12">
                                    <label class="form-label mb-1" for="store-address2">@ViewLocalizer["Address"] 2</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="store-address2"
                                        value="@Model.Address2"
                                    />
                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="form-label mb-1" for="store-city">@ViewLocalizer["City"]</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="store-city"
                                        value="@Model.City"
                                    />
                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="form-label mb-1" for="store-state">@ViewLocalizer["State"]</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="store-state"
                                        value="@Model.State"
                                    />
                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="form-label mb-1" for="store-zipcode">@ViewLocalizer["Zip Code"]</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="store-zipcode"
                                        value="@Model.PostalCode"
                                    />
                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="form-label mb-1" for="store-country">@ViewLocalizer["Country"]</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="store-country"
                                        value="@Model.Country"
                                    />
                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="form-label mb-1" for="store-currency">@ViewLocalizer["Moneda"]</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="store-currency"
                                        value="@Model.Currency"
                                    />
                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="form-label mb-1" for="store-secondcurrency">@ViewLocalizer["Moneda Alterna"]</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="store-secondcurrency"
                                        value="@Model.SecondCurrency"
                                    />
                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="form-label mb-1" for="store-tasa">@ViewLocalizer["Tasa"]</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="store-tasa"
                                        value="@Model.Tasa"
                                    />
                                </div>
                                @if (User.IsInRole("ADMIN"))
                                {
                                    <div class="col-12 col-md-6">
                                        <label class="form-label mb-1" for="store-stationlimit">@ViewLocalizer["Limit of Station(0 : no limit)"]</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="store-stationlimit"
                                            value="@Model.StationLimit"/>
                                    </div>
                                }

                            </div>
                            
                        </div>
                    </div>

                    <div class="card mb-6">
                        <div class="card-header">
                            <h5 class="card-title m-0">@ViewLocalizer["Photo"]</h5>
                            <div class="del-unit text-danger">
                                <a class="del-photo " href="javascript:void(0);">
                                    <img src="/vendor/img/icons/minus.svg" alt="img">
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row g-6">
                                <div class="col-sm-4 col-4">
                                    @if (string.IsNullOrEmpty(Model.Logo))
                                    {
                                    <img id="productimg" class="" style="max-height: 100px;" src="/vendor/img/product/noimage.png" alt="No image">
                                    }
                                    else
                                    {
                                    <img id="productimg" class="" style="max-height: 100px;" src="@Model.Logo" data-logo="@Model.Logo" alt="No image">
                                    }

                                </div>
                                <div class="col-sm-8 col-8 image-upload" style="height: 100%">
                                    <input id="imgInpProduct" type="file" name="Files" accept="image/*">
                                    <div class="image-uploads">
                                        <img src="~/vendor/img/icons/upload.svg" alt="img">
                                        <h4>@ViewLocalizer["Drag and drop a file to upload"]</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    <div class="d-flex justify-content-end gap-4">
                        <a id="submit-preference" class="btn btn-primary" href="javascript:void(0);">@ViewLocalizer["Update"]</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Options-->
    </div>
</div>


<script>
    $(document).ready(function () {
        $(".del-photo").click(function () {
            $("#productimg").attr("src", "/vendor/img/product/noimage.png");
            $("#productimg").data("logo", "");
            $("#imgInpProduct").val("")
        })

        $("#imgInpProduct").change(function () {
            readProductBackURL(this);
        });
    })

    function readProductBackURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#productimg').attr('src', e.target.result);
                $("#productimg").data("logo", e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#submit-preference").click(function () {
        var id = parseInt($("#store-id").data("id"))

        var stationlimit = parseInt($("#store-stationlimit").val())
        if (!stationlimit) stationlimit = 0;
        var tasa = parseFloat($("#store-tasa").val());
        if (!tasa) tasa = 0;

        var data = {
            ID : id,
            Name: $("#store-name").val(),
            RNC: $("#store-rnc").val(),
            Company: $("#store-company").val(),
            Phone: $("#store-phone").val(),
            Email: $("#store-email").val(),
            Address1: $("#store-address1").val(),
            Address2: $("#store-address2").val(),
            City: $("#store-city").val(),
            State: $("#store-state").val(),
            PostalCode: $("#store-zipcode").val(),
            Country: $("#store-country").val(),
            Logo: $("#productimg").data("logo"),
            Currency: $("#store-currency").val(),
            SecondCurrency: $("#store-secondcurrency").val(),
            Tasa:tasa,
            StationLimit: stationlimit
        }

        $.ajax({
            url: "/Setting/SavePreference",
            type: "POST",
            data: JSON.stringify(data),
            contentType: 'application/json;',
            dataType: 'json',
            success: function (data, textStatus, jqXHR) {
                if (data.status == 0) {
                    toastr.success("@ViewLocalizer["The preference was updated successfully."]", {})
                    window.location.replace("/")
                }
                else {
                    toastr.error("@ViewLocalizer["There was an error in processing the request."]", {})
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                toastr.error("@ViewLocalizer["There was an error in processing the request."]", {})
            }
        });
    });
</script>