@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row g-6">

        @* Render el menu interno *@
        @Html.Partial("InternalMenu.cshtml", 8)

        <!-- Options -->
        <div class="col-12 col-lg-8 pt-6 pt-lg-0">
            <div class="page-header">
                <div class="page-title">
                    <h4>@ViewLocalizer["Propina Rates"]</h4>
                    <h6>@ViewLocalizer["Manage Propina Rates"]</h6>
                </div>
                <div class="page-btn">
                    <a id="add-propina" class="btn btn-added"><img src="~/vendor/img/icons/plus.svg" alt="img" class="me-1">@ViewLocalizer["Add New Propina"]</a>
                </div>
            </div>
            <!-- /product list -->
            <div class="card">
                <div class="card-body">

                    <div class="table-responsive">
                        <table id="propina-list" class="table">
                            <thead>
                                <tr>
                                    <th>@ViewLocalizer["Action"]</th>
                                    <th>@ViewLocalizer["Propina Name"]</th>
                                    <th>@ViewLocalizer["Propina (%)"]</th>
                                    <th>@ViewLocalizer["To go exclude"]</th>
                                    <th>@ViewLocalizer["Barcode exclude"]</th>
                                    <th>@ViewLocalizer["Status"]</th>

                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

            <!-- edit Modal -->
            <div class="modal fade" id="editpropina" tabindex="-1" role="dialog" aria-hidden="true" data-id="">
  <div class="modal-dialog modal-lg modal-simple modal-edit-user" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="text-center mb-6">
          <h4 class="mb-2">@ViewLocalizer["Edit Propina"]</h4>
        </div>
        <form id="editUserForm" class="row g-6 fv-plugins-bootstrap5 fv-plugins-framework" onsubmit="return false" novalidate="novalidate">
          <div class="col-12 col-md-6 fv-plugins-icon-container">
            <label class="form-label" for="modalEditUserFirstName">@ViewLocalizer["Propina Name"]</label>
            <input type="text" id="epropina-name" value="SGST 4.5%	" required class="form-control">
          </div>
          <div class="col-12 col-md-6 fv-plugins-icon-container">
            <label class="form-label" for="modalEditUserLastName">@ViewLocalizer["Propina (%)"]</label>
            <input id="epropina-value" type="text" value="4.50" required class="form-control">
          </div>
          <div class="col-12 col-md-6 fv-plugins-icon-container">
            <label class="form-label" for="modalEditUserName">@ViewLocalizer["Article"]</label>
            <div class="form-check form-switch">
              <input type="checkbox" class="form-check-input" id="epropina-article">
            </div>
       </div>
          <div class="col-12 col-md-6">
            <label class="form-label" for="modalEditUserName">@ViewLocalizer["Sales"]</label>
            <div class="form-check form-switch">
              <input type="checkbox" class="form-check-input" id="epropina-shipping">
            </div>
          </div>
          <div class="col-12 col-md-6">
            <label class="form-label" for="modalEditUserName">@ViewLocalizer["To go exclude"]</label>
            <div class="form-check form-switch">
              <input type="checkbox" class="form-check-input"  id="epropina-togo">
            </div>
          </div>
          <div class="col-12 col-md-6">
            <label class="form-label" for="modalEditUserName">@ViewLocalizer["Barcode exclude"]</label>
            <div class="form-check form-switch">
              <input type="checkbox" class="form-check-input" id="epropina-barcode">
            </div>
          </div>
          <div class="col-12 col-md-6">
            <label class="form-label" for="modalEditUserName">@ViewLocalizer["Kiosk exclude"]</label>
            <div class="form-check form-switch">
              <input type="checkbox" class="form-check-input" id="epropina-kiosk">
            </div>
          </div>
          <div class="col-12 col-md-6">
            <label class="form-label" for="modalEditUserLanguage">@ViewLocalizer["Status"]</label>
            <div class="position-relative"><div class="position-relative"><select id="epropina-status"  class="select form-select">
              <option value="1"> @ViewLocalizer["Active"]</option>
                                <option value="0"> @ViewLocalizer["InActive"]</option>
            </select> </div></div>
          </div>
           <div class="col-12">
            <label class="form-label" for="modalEditUserLanguage">@ViewLocalizer["Accounting"]</label>
             <div class="add-unit">
                                <a class="add-accounting-item" href="javascript:void(0);">
                                    <img src="/vendor/img/icons/plus1.svg" alt="img">
                                </a>
                            </div>
                            <table class="table reordertable">
                            <thead>
                                <tr>
                                    <td>
                                        @ViewLocalizer["Name"]
                                    </td>
                                    <td>
                                        @ViewLocalizer["Type"]
                                    </td>
                                    <td>
                                        @ViewLocalizer["Number"]
                                    </td>
                                    <td>
                                        @ViewLocalizer["Action"]
                                    </td>
                            </thead>
                            <tbody id="accounting-list">
                            </tbody>
                        </table>
          </div>
          <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary me-3 waves-effect waves-light" id="edit-propina" >@ViewLocalizer["Submit"]</button>
            <button type="reset" class="btn btn-label-secondary waves-effect" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
          </div>
        <input type="hidden"></form>
      </div>
    </div>
  </div>
</div>
            </div>
            </div>
            </div>


@{
    @await Component.InvokeAsync("Accounting", new { })
}

<script>

    var propinatable = $("#propina-list").DataTable({
        "processing": true, // for show progress bar
        "serverSide": true, // for process server side
        "filter": true, // this is for disable filter (search box)
        "orderMulti": false, // for disable multiple column at once
        "ajax": {
            "url": "/Setting/GetPropinaList",
            "type": "POST",
            "datatype": "json"
        },
        'select': {
            'style': 'multi'
        },
        "pageLength": 10,
        "lengthMenu": [10, 25, 50],
        "order": [[1, 'asc']],
        "columns": [
            {
                'data': 'action', 'name': 'action',
                render: function (data, type, row) {
                    return "<a class=paymentmethod-tr' data-id='" + row.id + "' href='javascript:void(0);'  onclick=Editpropina('" + row.id + "'); ><img src='/vendor/img/icons/edit.svg' alt='img'></a><a class='me-3' href='javascript:void(0);'  onclick=Deletepropina('" + row.id + "'); ><img src='/vendor/img/icons/delete.svg' alt='img'></a>";
                },
            },
            { "data": "propinaName", "name": "propinaName", "autoWidth": true },
            { "data": "propinaValue", "name": "propinaValue", "autoWidth": true },
            { "data": "isToGoExclude", "name": "isToGoExclude", "autoWidth": true },
            { "data": "isBarcodeExclude", "name": "isBarcodeExclude", "autoWidth": true },
            {
                'data': 'status', 'name': 'isActive',
                render: function (data, type, row) {
                    if (row.isActive) {
                        return "<span class='badges bg-lightgreen'>@ViewLocalizer["Active"]</span>";
                    }
                    else {
                        return "<span class='badges bg-lightred'>@ViewLocalizer["InActive"]</span>";
                    }
                },
                "autoWidth": true
            },
          
        ]
    });

    $("#add-propina").click(function () {
        Addpropina();
    });

    function Addpropina() {
        $("#epropina-name").val("");
        $("#epropina-value").val("");
        $("#epropina-status").val(1).change();
        $("#editpropina").data("id", 0);
        $(".propina-modal-title").html("@ViewLocalizer["Add propina"]");
        GetAccountItems(7, 0)
        $("#editpropina").modal("show");
    }

    function Editpropina(id) {
        $.ajax({
            url: "/Setting/GetPropina?id=" + id, // Asegúrate de que la URL sea correcta.
            type: "POST",
            success: function (propina, textStatus, jqXHR) {
                if (propina) {

                    console.log(propina);
                    // Asignación de valores a los campos correspondientes
                    $("#epropina-name").val(propina.taxName);
                    $("#epropina-value").val(propina.taxValue);

                    // Estado de "Activo"
                    if (propina.isActive) {
                        $("#epropina-status").val(1).change();
                    } else {
                        $("#epropina-status").val(0).change();
                    }

                    // Condicionales para los checkboxes
                    $("#epropina-porder").prop("checked", propina.IsInPurchaseOrder);
                    $("#epropina-article").prop("checked", propina.isInArticle);
                    $("#epropina-shipping").prop("checked", propina.isShipping);
                    $("#epropina-togo").prop("checked", propina.isToGoExclude);
                    $("#epropina-barcode").prop("checked", propina.IsBarcodeExclude);
                    $("#epropina-kiosk").prop("checked", propina.isKioskExclude);

                    // Cambiar el título del modal
                    $(".propina-modal-title").html("@ViewLocalizer["Edit propina"]");

                    // Llama a GetAccountItems con los parámetros necesarios
                    GetAccountItems(7, propina.id);

                    // Almacena el ID de propina en el modal
                    $("#editpropina").data("id", propina.id);

                    // Muestra el modal
                    $("#editpropina").modal("show");
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                toastr.error("@ViewLocalizer["There was an error in processing the request."]");
            }
        });
    }

    $("#edit-propina").click(function () {
        var propinaName = $("#epropina-name").val();
        if (!propinaName || propinaName == "") {
            toastr.warning("@ViewLocalizer["Please input the propina name."]", { showMethod: "fadeIn", hideMethod: "fadeOut", timeOut: 2e3 })
            return;
        }
        var propinavalue = parseFloat($("#epropina-value").val());
        if (!propinavalue) propinavalue == 0;
        var active = $("#epropina-status").val()
        var data = {
            ID: $("#editpropina").data("id"),
            propinaName: propinaName,
            IsInPurchaseOrder: $("#epropina-porder").prop("checked"),
            IsInArticle: $("#epropina-article").prop("checked"),
            IsShipping: $("#epropina-shipping").prop("checked"),
            IsToGoExclude: $("#epropina-togo").prop("checked"),
            IsBarcodeExclude: $("#epropina-barcode").prop("checked"),
            IsKioskExclude: $("#epropina-kiosk").prop("checked"),
            propinaValue: propinavalue,
            IsActive: active == "1"
        }

        $.ajax({
            url: "/Setting/EditPropina",
            type: "POST",
            data: data,
            success: function (data, textStatus, jqXHR) {
                if (data.status == 0) {
                    SaveAccountItems(7, data.id, function () {
                        propinatable.draw();
                        $("#editpropina").modal("hide");
                    })
                 
                }
                else if (data.status == 2) {
                    toastr.error("@ViewLocalizer["The propina name should be unique."]", {})
                }
                else {
                    toastr.error("@ViewLocalizer["There was an error in processing the request."]", {})
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                toastr.error("@ViewLocalizer["There was an error in processing the request."]", {})
            }
        });
    });

    function Deletepropina(id) {

        Swal.fire({
            title: "@ViewLocalizer["Are you sure to delete the propina?"]",
            text: "",
            type: "warning",
            showCancelButton: !0,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "@ViewLocalizer["Yes, delete it!"]",
            cancelButtonText: "@ViewLocalizer["Cancel"]",
            confirmButtonClass: "btn btn-primary",
            cancelButtonClass: "btn btn-danger ml-1",
            buttonsStyling: !1,
        }).then(function (t) {
            if (t.value) {
                $.ajax({
                    url: "/Setting/Deletepropina?propinaId=" + id,
                    type: "POST",
                    success: function (data, textStatus, jqXHR) {
                        if (data.status == 0) {
                            propinatable.draw();
                        }
                        else {
                            toastr.error("@ViewLocalizer["Failed to delete the propina."]", {})
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        toastr.error("@ViewLocalizer["There was an error in processing the request."]", {})
                    }
                });
            }

        });

    }



</script>