@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/vendor/js/jquery.dataTables.min.js"></script>
<script scr="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
<div class="page-header">
	<div class="page-title">
		<h4>@ViewLocalizer["Role List"]</h4>
		<h6>@ViewLocalizer["Manage roles"]</h6>
	</div>
	<div class="page-btn">
		<a href="/Setting/AddRole" class="btn btn-added"><img src="~/vendor/img/icons/plus.svg" alt="img" class="me-2">@ViewLocalizer["Add Role"]</a>
	</div>
</div>

<div class="card">
	<div class="card-body">
		<div class="table-responsive">
			<table id="user-list" class="table">
				<thead>
					<tr>
						<th>@ViewLocalizer["Action"]</th>
						<th>@ViewLocalizer["Role Name"] </th>
						<th>@ViewLocalizer["Priority"] </th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		$("#user-list").DataTable({
			"processing": true, // for show progress bar
			"serverSide": true, // for process server side
			"filter": false, // this is for disable filter (search box)
			"orderMulti": false, // for disable multiple column at once
			"ajax": {
				"url": "/Setting/GetRoles",
				"type": "POST",
				"datatype": "json"
			},
			'select': {
				'style': 'multi'
			},
			"pageLength": 10,
			"lengthMenu": [10, 25, 50],
			"order": [[2, 'desc']],
			"columns": [
				{
					'data': 'action', 'name': 'action',
					render: function (data, type, row) {
						return "<a class='me-3' href='/Setting/AddRole?roleId=" + row.id + "'  ><img src='/vendor/img/icons/edit.svg' alt='img'></a>";
					},
				},
			
				{ "data": "roleName", "name": "roleName", "autoWidth": true },
				{ "data": "priority", "name": "priority", "autoWidth": true },
				
			]
		});

	})

	if ($('.datetimepicker').length > 0) {
		$('.datetimepicker').datetimepicker({
			format: 'DD-MM-YYYY',
			icons: {
				up: "fas fa-angle-up",
				down: "fas fa-angle-down",
				next: 'fas fa-angle-right',
				previous: 'fas fa-angle-left'
			},
		}
		).on('dp.change', function (e) {
			if ($(this).attr('id') == 'purchaseorder_filter_datefrom' || $(this).attr('id') == 'purchaseorder_filter_dateto') {
				FilterPurchaseOrder()
			}
			if ($(this).attr('id') == 'damage_filter_datefrom' || $(this).attr('id') == 'damage_filter_dateto') {
				FilterDamage()
			}

			if ($(this).attr('id') == 'move_filter_datefrom' || $(this).attr('id') == 'move_filter_dateto') {
				FilterMoveArticle()
			}
			if ($(this).attr('id') == 'filter_reprint_datefrom' || $(this).attr('id') == 'filter_reprint_dateto') {
				LoadPreviousOrders()
			}
			if ($(this).attr('id') == 'filter_barcode_datefrom' || $(this).attr('id') == 'filter_barcode_dateto') {
				LoadPreviousOrdersBarcode()
			}
			if ($(this).attr('id') == 'dashboard_filter_datefrom' || $(this).attr('id') == 'dashboard_filter_dateto') {
				GetSalesTotal();
				GetPurchaseTotal();
			}
			if ($(this).attr('id') == 'report1_datefrom' || $(this).attr('id') == 'report1_dateto') {
				RefreshDayOfWeekReport();
			}
			if ($(this).attr('id') == 'report3_datefrom' || $(this).attr('id') == 'report3_dateto') {
				RefreshPropinaReport();
			}
			if ($(this).attr('id') == 'filter_reservation_datefrom' || $(this).attr('id') == 'filter_reservation_dateto') {
				FilterReservation();
			}
		});
	}
</script>