@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/vendor/js/jquery.dataTables.min.js"></script>
<script scr="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js">
</script>
<div class="page-header">
	<div class="page-title">
		<h4>@ViewLocalizer["Category List"]</h4>
		<h6>@ViewLocalizer["Manage your Categories"]</h6>
	</div>
	<div class="page-btn">
		<a href="/Menu/AddCategory" class="btn btn-added"><img src="~/vendor/img/icons/plus.svg" alt="img" class="me-2">@ViewLocalizer["Add Category"]</a>
	</div>
</div>


<!-- /product list -->
<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="table-top">
				<div class="search-set">
					<div class="search-path">
						<a class="btn btn-filter" id="filter_search">
							<img src="/vendor/img/icons/filter.svg" alt="img">
							<span><img src="/vendor/img/icons/closes.svg" alt="img"></span>
						</a>
					</div>
					<div class="search-input">
						<a class="btn btn-searchset"><img src="/vendor/img/icons/search-white.svg" alt="img"></a>
						<div class="dataTables_filter"><label> <input id="filter-searchtext" type="search" class="form-control form-control-sm" placeholder="@ViewLocalizer["Search"]" ..."></label></div>
					</div>
				</div>
				<div class="wordset">
					<ul>
						<li>
							<a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="/vendor/img/icons/pdf.svg" alt="img"></a>
						</li>
						<li>
							<a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="/vendor/img/icons/excel.svg" alt="img"></a>
						</li>
						<li>
							<a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="/vendor/img/icons/printer.svg" alt="img"></a>
						</li>
					</ul>
				</div>
			</div>
			<!-- /Filter -->
			<div class="card" id="filter_inputs">
				<div class="card-body pb-0">
					<div class="row">
						<div class="col-lg-4 col-sm-6 col-12">
							<div class="form-group">
								<label>@ViewLocalizer["Status"] </label>
								<select id="filter-status" class="select">
									<option value="1" selected>@ViewLocalizer["Active"]</option>
									<option value="0">@ViewLocalizer["Inactive"]</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="table-responsive">
				<table id="category-list" class="table">
					<thead>
						<tr>
							<th>@ViewLocalizer["Action"]</th>
							<th>@ViewLocalizer["Name"] </th>
							<th>@ViewLocalizer["Group"] </th>
							<th>@ViewLocalizer["Plato"]</th>			
							<th>@ViewLocalizer["Status"]</th>
						
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- /product list -->

<script>
	$(document).ready(function () {


		$("#filter-searchtext").on("change keyup", function () {
			FilterCategory()
		});
		$("#filter-status").on("change", function () {
			FilterCategory()
		});

		$("#filter_search").click(function () {
			FilterCategory()
		});
	});

	var categorytable = $("#category-list").DataTable({
		"processing": true, // for show progress bar
		"serverSide": true, // for process server side
		"dom": 'rt<"row"<"col-sm-3"l><"col-sm-6 s-txt"p><"col-sm-3 text-end"i>>',
		"orderMulti": false, // for disable multiple column at once
		"ajax": {
			"url": "/Menu/GetCategoryList",
			"type": "POST",
			"datatype": "json"
		},
		'select': {
			'style': 'multi'
		},
		"pageLength": 10,
		"lengthMenu": [10, 25, 50],
		"order": [[1, 'asc']],
		"columns": [
			{
				'data': 'action', 'name': 'action',
				render: function (data, type, row) {
					return "<a class='me-3' href='/Menu/AddCategory?categoryId=" + row.id + "' ><img src='/vendor/img/icons/edit.svg' alt='img'></a>";
				},
			},
			{ "data": "name", "name": "name", "autoWidth": true },
			{ "data": "groupName", "name": "groupName", "autoWidth": true },
			{ "data": "plato", "name": "plato", "autoWidth": true },						
			{
				'data': 'status', 'name': 'isActive',
				render: function (data, type, row) {
					if (row.isActive) {
						return "<span class='badges bg-lightgreen'>@ViewLocalizer["Active"]</span>";
					}
					else {
						return "<span class='badges bg-lightred'>@ViewLocalizer["InActive"]</span>";
					}
				},
				"autoWidth": true
			},
			
		]
	});


	//function DeleteCategory(id) {

	//	Swal.fire({
	//		title: "@ViewLocalizer["Are you sure to delete the category?"]",
	//		text: "",
	//		type: "warning",
	//		showCancelButton: !0,
	//		confirmButtonColor: "#3085d6",
	//		cancelButtonColor: "#d33",
	//		confirmButtonText: "@ViewLocalizer["Yes, delete it!"]",
	//		confirmButtonClass: "btn btn-primary",
	//		cancelButtonText: "@ViewLocalizer["Close"]",
	//		cancelButtonClass: "btn btn-danger ml-1",
	//		buttonsStyling: !1,
	//	}).then(function (t) {
	//		if (t.value) {
	//			$.ajax({
	//				url: "/Menu/DeleteCategory?categoryId=" + id,
	//				type: "POST",
	//				success: function (data, textStatus, jqXHR) {
	//					if (data.status == 0) {
	//						categorytable.draw();
	//					}
	//					else {
	//						toastr.error("@ViewLocalizer["Failed to delete the category."]", {})
	//					}
	//				},
	//				error: function (jqXHR, textStatus, errorThrown) {
	//					toastr.error("@ViewLocalizer["There was an error to process the request."]", {})
	//				}
	//			});
	//		}
	//	});
	//}
	function FilterCategory() {
		var searchText = $("#filter-searchtext").val();
		var status = $("#filter-status").val();

		categorytable.columns(0).search(searchText);
		categorytable.columns(1).search(status);

		categorytable.draw();
	}
</script>
