<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">

	<!-- Product List Table -->
	<div class="card">
		<div class="card-header">
			<h5 class="card-title">@ViewLocalizer["Discount List"]</h5>
		</div>
		<div class="card-body">
			<div class="card-datatable table-responsive">
				<table id ="discount-list" " class="table">
					<thead class="table-light">
						<tr>
							<th>@ViewLocalizer["Action"]</th>
							<th>@ViewLocalizer["Name"] </th>
							<th>@ViewLocalizer["Amount"] </th>
							<th>@ViewLocalizer["Amount Type"]</th>
							<th>@ViewLocalizer["Status"]</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- / Content -->
<div class="modal fade" id="adddiscount" tabindex="-1" role="dialog" data-bs-backdrop="static" aria-hidden="true" data-id="">
	<div class="modal-dialog modal-lg modal-simple modal-edit-user" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				<div class="text-center mb-6">
					<h4 class="mb-2">
			@ViewLocalizer["Add/Edit discount"]
					</h4>
				</div>
				<div class="row">
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label class="form-label">@ViewLocalizer["Name"]<span class="manitory">*</span></label>
							<div class="input-group">
								<span class="input-group-text" id="basic-addon1">ID</span>
								<input id="discount-name" type="text" class="form-control" aria-describedby="basic-addon1" required>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label class="form-label">@ViewLocalizer["Amount"]<span class="manitory">*</span></label>
							<input id="discount-amount" type="text" onkeypress="return onlyDecimalKey(event)" placeholder="0" class="form-control" required>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label class="form-label">@ViewLocalizer["Amount Type"]<span class="manitory">*</span></label>
							<select id="discount-type" class="select form-select">
								<option value="0">Percent (%)</option>
								<option value="1">Amount</option>
							</select>
						</div>
					</div>

					<div class="col-12 col-md-6">
						<div class="form-group mb-0">
							<label class="form-label">@ViewLocalizer["Status"]</label>
							<select id="discount-status" class="select form-select">
								<option value="1"> @ViewLocalizer["Active"]</option>
								<option value="0"> @ViewLocalizer["InActive"]</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row pt-5">
					<div class="col-12">
						<div class="d-flex  align-items-center pb-4" style="gap: 5px;">
							<h6 class="text-left"> @ViewLocalizer["Accounting"]</h6>
							<div class="add-unit">
								<a class="add-accounting-item" href="javascript:void(0);">
									<img src="/vendor/img/icons/plus1.svg" alt="img">
								</a>
							</div>
						</div>
						<table class="table reordertable">
							<thead class="table-light">
								<tr>
									<td>
					@ViewLocalizer["Name"]
									</td>
									<td>
					@ViewLocalizer["Type"]
									</td>
									<td>
					@ViewLocalizer["Number"]
									</td>
									<td>
					@ViewLocalizer["Action"]
									</td>
							</thead>
							<tbody id="accounting-list">
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-12 text-center">
				<button type="submit" id="edit-discount" class="btn btn-primary me-3 waves-effect waves-light">@ViewLocalizer["Submit"]</button>
				<button type="reset" class="btn btn-label-secondary waves-effect" data-bs-dismiss="modal" aria-label="Close">@ViewLocalizer["Cancel"]</button>
			</div>
		</div>
	</div>
</div>

@{
	@await Component.InvokeAsync("Accounting", new { })
}

<!-- /product list -->
<script>

	$(document).ready(function () {
		$("#add-discount-modal").click(function () {
			$("#discount-name").val("");
			$("#discount-amount").val("");
			$("#discount-type").val("0").change();
			$("#discount-status").val("1").change();
			$("#adddiscount").data("id", 0);
			GetAccountItems(11, 0);
			$("#adddiscount").modal("show");
		});

		$("#edit-discount").click(function () {
			var name = $("#discount-name").val();
			if (!name || name == "") {
				toastr.warning("@ViewLocalizer["Please input the name."]", { showMethod: "fadeIn", hideMethod: "fadeOut", timeOut: 2e3 })
				return;
			}
			var amount = parseFloatCorrect($("#discount-amount").val());

			var type = parseInt($("#discount-type").val());
			var active = $("#discount-status").val() == "1";

			var data = {
				ID: $("#adddiscount").data("id"),
				Name: name,
				Amount: amount,
				DiscountAmountType: type,
				IsActive: active,
			}

			$.ajax({
				url: "/Menu/EditDiscount",
				type: "POST",
				data: data,
				success: function (data, textStatus, jqXHR) {
					if (data.status == 0) {
						SaveAccountItems(11, data.id, function () {
							$("#discount-list").DataTable().draw();
							$("#adddiscount").modal("hide");
						})
					}
					else if (data.status == 2) {
						toastr.error("@ViewLocalizer["The name should be unique."]", {})
					}
					else {
						toastr.error("@ViewLocalizer["Failed to update the discount."]", {})
					}
				},
				error: function (jqXHR, textStatus, errorThrown) {
					toastr.error("@ViewLocalizer["There was an error in processing the request."]", {})
				}
			});
		});
	function getCookie(cname) {
		let name = cname + "=";
		let ca = document.cookie.split(';');
		for (let i = 0; i < ca.length; i++) {
			let c = ca[i];
			while (c.charAt(0) == ' ') {
				c = c.substring(1);
			}
			if (c.indexOf(name) == 0) {
				return c.substring(name.length, c.length);
			}
		}
		return "";
	}

		var discounttable = $("#discount-list").DataTable({
			"processing": true, // for show progress bar
			"serverSide": true, // for process server side
			dom:
				'<"card-header d-flex border-top rounded-0 flex-wrap py-0 flex-column flex-md-row align-items-start"' +
				'<"me-5 ms-n4 pe-5 mb-n6 mb-md-0">' +
				'<"d-flex justify-content-start justify-content-md-end align-items-baseline"<"dt-action-buttons d-flex flex-column align-items-start align-items-sm-center justify-content-sm-center pt-0 gap-sm-4 gap-sm-0 flex-sm-row"lB>>' +
				'>t' +
				'<"row"' +
				'<"col-sm-12 col-md-6"i>' +
				'<"col-sm-12 col-md-6"p>' +
				'>',
			"orderMulti": false, // for disable multiple column at once
			"ajax": {
				"url": "/Menu/GetDiscountList",
				"type": "POST",
				"datatype": "json",
				"complete": function () {
					$(".imgzoom").each(function () {
						$(this).on("mouseenter", function () {
							var popupContent = document.createElement("div");
							popupContent.classList.add("popupDiv");
							popupContent.innerHTML = "<img src='" + $(this).attr('src') + "' alt = 'zoomimg' style='height: 450px'> ";

							popupContent.style.position = "absolute";

							popupContent.style.top = ($(this).offset().top + -200) + "px";
							popupContent.style.left = ($(this).offset().left + 50) + "px";
							popupContent.style.backgroundColor = "white";
							popupContent.style.padding = "5px";
							popupContent.style.boxShadow = "0 2px 5px rgba(0, 0, 0, 0.5)";
							popupContent.style.zIndex = "9999";
							popupContent.style.borderRadius = "10px";
							document.body.appendChild(popupContent);

							$(this).on("mouseleave", function () {
								//document.body.removeChild(popupContent);
								$(".popupDiv").remove();
							});



						});
					});

				}
			},
			'select': {
				'style': 'multi'
			},
			"pageLength": 10,
			"lengthMenu": [10, 25, 50],
			"order": [[1, 'asc']],
			"columns": [
				{
					'data': 'action', 'name': 'action',
					render: function (data, type, row) {
						return "<a class='me-3' href='javascript:void(0);'  onclick=EditDiscount('" + row.id + "'); ><img src='/vendor/img/icons/edit.svg' alt='img'></a><a class='me-3' href='javascript:void(0);'  onclick=DeleteDiscount('" + row.id + "'); ><img src='/vendor/img/icons/delete.svg' alt='img'></a>";
					},
				},
				{ "data": "name", "name": "name", "autoWidth": true },
				{ "data": "amount", "name": "amount", "autoWidth": true },
				{ "data": "amountType", "name": "amountType", "autoWidth": true },
				{
					'data': 'status', 'name': 'isActive',
					render: function (data, type, row) {
						if (row.isActive) {
							return "<span class='badge bg-label-success' text-capitalized=''>@ViewLocalizer["Active"]</span>";

						}
						else {
							return "<span class='badge bg-label-danger' text-capitalized=''>@ViewLocalizer["InActive"]</span>";
						}
					},
					"autoWidth": true
				},
			],
			// Buttons with Dropdown
			buttons: [

				{
					text: '<i class="ti ti-plus me-0 me-sm-1 ti-xs"></i><span class="d-none d-sm-inline-block">@ViewLocalizer["Add Discount"]</span>',
					className: 'add-new btn btn-primary ms-2 ms-sm-0 waves-effect waves-light',
					action: function () {
						$("#discount-name").val("");
						$("#discount-amount").val("");
						$("#discount-type").val("0").change();
						$("#discount-status").val("1").change();
						$("#adddiscount").data("id", 0);
						GetAccountItems(11, 0);
						$("#adddiscount").modal("show");
					}
				}
			]
		});
	});
	$('.dataTables_length').addClass('mx-n2');
	$('.dt-buttons').addClass('d-flex flex-wrap mb-6 mb-sm-0');

	function EditDiscount(id) {
		// load menu
		$.ajax({
			url: "/Menu/GetDiscount?discountID=" + id,
			type: "POST",
			success: function (data, textStatus, jqXHR) {
				if (data) {
					$("#discount-name").val(data.name);
					$("#discount-amount").val(data.amount);
					$("#discount-type").val(data.discountAmountType).change();
					$("#discount-status").val("1").change();
					if (!data.isActive) {
						$("#discount-status").val("0").change();
					}
					GetAccountItems(11, data.id);
					$("#adddiscount").data("id", data.id);
					$("#adddiscount").modal("show");
				}
			},
			error: function (jqXHR, textStatus, errorThrown) {
				toastr.error("@ViewLocalizer["There was an error in processing the request."]", {})
			}
		});
	}

	function DeleteDiscount(id) {
		Swal.fire({
			title: "@ViewLocalizer["Are you sure to delete the discount?"]",
			text: "",
			type: "warning",
			showCancelButton: !0,
			confirmButtonColor: "#3085d6",
			cancelButtonColor: "#d33",
			confirmButtonText: "@ViewLocalizer["Yes, delete it!"]",
			confirmButtonClass: "btn btn-primary",
			cancelButtonText: "@ViewLocalizer["Close"]",
			cancelButtonClass: "btn btn-danger ml-1",
			buttonsStyling: !1,
		}).then(function (t) {
			if (t.value) {
				$.ajax({
					url: "/Menu/DeleteDiscount?discountID=" + id,
					type: "POST",
					success: function (data, textStatus, jqXHR) {
						if (data.status == 0) {
							$("#discount-list").DataTable().draw();
						}
						else {
							toastr.error("@ViewLocalizer["Failed to delete the discount."]", {})
						}
					},
					error: function (jqXHR, textStatus, errorThrown) {
						toastr.error("@ViewLocalizer["There was an error to process the request."]", {})
					}
				});
			}
		});
	}
</script>