@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	var printers = (List<Printer>)ViewBag.Printers;
	var stations = (List<Station>)ViewBag.Stations;
}
<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">

	<!-- Product List Table -->
	<div class="card">
		<div class="card-header">
			<h5 class="card-title">@ViewLocalizer["Manage your kds"]</h5>
		</div>
		<div class="card-datatable table-responsive">
			<table id="kitchen_list" class="table">
				<thead class="table-light">
					<tr>
						<th>@ViewLocalizer["Action"]</th>
						<th>@ViewLocalizer["ID"] </th>
						<th>@ViewLocalizer["Name"] </th>
						<th>@ViewLocalizer["Printer"] </th>
						<th>@ViewLocalizer["Active"] </th>

					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>
<!-- / Content -->
<div class="modal fade" id="addkitchen" tabindex="-1" role="dialog" data-bs-backdrop="static" aria-hidden="true" data-id="">
	<div class="modal-dialog modal-lg modal-simple modal-edit-user" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				<div class="text-center mb-6">
					<h4 class="mb-2">
						@ViewLocalizer["Add/Edit Kitchen"]
					</h4>
				</div>
				<div class="row">
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label class="form-label">@ViewLocalizer["Name"]<span class="manitory">*</span></label>
							<div class="input-group">
								<span class="input-group-text" id="basic-addon1">ID</span>
								<input id="kitchen-name" type="text" class="form-control" aria-describedby="basic-addon1" required>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label class="form-label">@ViewLocalizer["Printer"]</label>
							<select id="kitchen-printer" class="select form-select">
								<option>@ViewLocalizer["Choose printer"]</option>
								@foreach (var b in printers)
								{
									<option value="@b.ID">@b.Name</option>
								}
							</select>
						</div>
					</div>
					<div class="col-12 ">
						<div class="form-group">
							<label class="form-label">@ViewLocalizer["Stations"]</label>
							<select id="kitchen-stations" class="select form-select" multiple aria-hidden="true">
								@foreach (var t in stations)
								{
									<option value="@t.ID" data-valor="@t.Name">@t.Name</option>
								}
							</select>
						</div>
					</div>
					<div class="col-12 ">
						<div class="form-group">
							<label class="form-label">@ViewLocalizer["Status"]</label>
							<select id="kitchen-status" class="select form-select">
								<option value="1">@ViewLocalizer["Active"]</option>
								<option value="0">@ViewLocalizer["Inactive"]</option>
							</select>

						</div>
					</div>

				</div>
			</div>
			<div class="col-12 text-center">
				<button type="submit" id="edit-kitchen" class="btn btn-primary me-3 waves-effect waves-light">@ViewLocalizer["Submit"]</button>
				<button type="reset" class="btn btn-label-secondary waves-effect" data-bs-dismiss="modal" aria-label="Close">@ViewLocalizer["Cancel"]</button>
			</div>
		</div>
	</div>
</div>
<!-- /product list -->
<script>

	$(document).ready(function () {

		$("#add-kitchen-modal").click(function () {
			EditKitchen(0)
		});

		$("#edit-kitchen").click(function () {
			var name = $("#kitchen-name").val();
			if (!name || name == "") {
				toastr.warning("@ViewLocalizer["Please input the name."]", { showMethod: "fadeIn", hideMethod: "fadeOut", timeOut: 2e3 })
				return;
			}

			var printer = parseInt($("#kitchen-printer").val());
			// if (!printer) {
			// 	toastr.warning("@ViewLocalizer["Please select the printer."]", { showMethod: "fadeIn", hideMethod: "fadeOut", timeOut: 2e3 })
			// 	return;
			// }
			var stations = $("#kitchen-stations").val();
			var active = $("#kitchen-status").val()
			var data = {
				ID: $("#addkitchen").data("id"),
				Name: name,
				PrinterID: printer,
				stations: stations,
				IsActive: active == "1"
			}

			$.ajax({
				url: "/Menu/EditKitchen",
				type: "POST",
				data: data,
				success: function (data, textStatus, jqXHR) {
					if (data.status == 0) {
						$("#kitchen_list").DataTable().draw();
						$("#addkitchen").modal("hide");
					}
					else if (data.status == 2) {
						toastr.error("@ViewLocalizer["The name should be unique."]", {})
					}
					else {
						toastr.error("@ViewLocalizer["Failed to update the category."]", {})
					}
				},
				error: function (jqXHR, textStatus, errorThrown) {
					toastr.error("@ViewLocalizer["There was an error in processing the request."]", {})
				}
			});
		});
	function getCookie(cname) {
		let name = cname + "=";
		let ca = document.cookie.split(';');
		for (let i = 0; i < ca.length; i++) {
			let c = ca[i];
			while (c.charAt(0) == ' ') {
				c = c.substring(1);
			}
			if (c.indexOf(name) == 0) {
				return c.substring(name.length, c.length);
			}
		}
		return "";
	}


		var kitchentable = $("#kitchen_list").DataTable({
			"processing": true, // for show progress bar
			"serverSide": true, // for process server side
			dom:
				'<"card-header d-flex border-top rounded-0 flex-wrap py-0 flex-column flex-md-row align-items-start"' +
				'<"me-5 ms-n4 pe-5 mb-n6 mb-md-0">' +
				'<"d-flex justify-content-start justify-content-md-end align-items-baseline"<"dt-action-buttons d-flex flex-column align-items-start align-items-sm-center justify-content-sm-center pt-0 gap-sm-4 gap-sm-0 flex-sm-row"lB>>' +
				'>t' +
				'<"row"' +
				'<"col-sm-12 col-md-6"i>' +
				'<"col-sm-12 col-md-6"p>' +
				'>',
			"orderMulti": false, // for disable multiple column at once
			"ajax": {
				"url": "/Menu/GetKitchenList",
				"type": "POST",
				"datatype": "json",
				"complete": function () {
					$(".imgzoom").each(function () {
						$(this).on("mouseenter", function () {
							var popupContent = document.createElement("div");
							popupContent.classList.add("popupDiv");
							popupContent.innerHTML = "<img src='" + $(this).attr('src') + "' alt = 'zoomimg' style='height: 450px'> ";

							popupContent.style.position = "absolute";

							popupContent.style.top = ($(this).offset().top + -200) + "px";
							popupContent.style.left = ($(this).offset().left + 50) + "px";
							popupContent.style.backgroundColor = "white";
							popupContent.style.padding = "5px";
							popupContent.style.boxShadow = "0 2px 5px rgba(0, 0, 0, 0.5)";
							popupContent.style.zIndex = "9999";
							popupContent.style.borderRadius = "10px";
							document.body.appendChild(popupContent);

							$(this).on("mouseleave", function () {
								//document.body.removeChild(popupContent);
								$(".popupDiv").remove();
							});



						});
					});

				}
			},
			'select': {
				'style': 'multi'
			},
			"pageLength": 10,
			"lengthMenu": [10, 25, 50],
			"order": [[1, 'asc']],
			"columns": [
				{
					'data': 'action', 'name': 'action',
					render: function (data, type, row) {
						return "<a class='me-3' href='javascript:void(0);'  onclick=EditKitchen('" + row.id + "'); ><img src='/vendor/img/icons/edit.svg' alt='img'></a>";
					},
				},
				{ "data": "id", "name": "id", "autoWidth": true },
				{ "data": "name", "name": "name", "autoWidth": true },
				{ "data": "printer", "name": "printer", "autoWidth": true },
				{
					'data': 'status', 'name': 'isActive',
					render: function (data, type, row) {
						if (row.isActive) {
							return "<span class='badge bg-label-success' text-capitalized=''>@ViewLocalizer["Active"]</span>";

						}
						else {
							return "<span class='badge bg-label-danger' text-capitalized=''>@ViewLocalizer["InActive"]</span>";
						}
					},
					"autoWidth": true
				},
			],
			// Buttons with Dropdown
			buttons: [

				{
					text: '<i class="ti ti-plus me-0 me-sm-1 ti-xs"></i><span class="d-none d-sm-inline-block">@ViewLocalizer["Add Kitchen"]</span>',
					className: 'add-new btn btn-primary ms-2 ms-sm-0 waves-effect waves-light',
					action: function () {
						EditKitchen(0);
					}
				}
			]
		});
	});
	$('.dataTables_length').addClass('mx-n2');
	$('.dt-buttons').addClass('d-flex flex-wrap mb-6 mb-sm-0');

		function EditKitchen(id) {
			// load menu
			$.ajax({
				url: "/Menu/GetKitchen?kitchenId=" + id,
				type: "POST",
				success: function (d, textStatus, jqXHR) {
					if (d.kitchen) {
						data = d.kitchen;
						$("#kitchen-name").val(data.name);
						$("#kitchen-printer").val(data.printerID).change();
						$("#addkitchen").data("id", data.id)
						if (data.isActive) {
							$("#kitchen-status").val("1").change();
						}
						else {
							$("#kitchen-status").val("0").change();
						}
						$("#kitchen-stations").val(data.stations).change();
					}
					else {
						$("#kitchen-name").val("");
						$("#kitchen-printer").val("").change();
						$("#addkitchen").data("id", "")
						$("#kitchen-status").val("1").change();
					}

					$("#addkitchen").modal("show");
				},
				error: function (jqXHR, textStatus, errorThrown) {
					toastr.error("@ViewLocalizer["There was an error in processing the request."]", {})
				}
			});
		}
</script>