<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">

	<!-- Product List Table -->
	<div class="card">
		<div class="card-header">
			<h5 class="card-title">@ViewLocalizer["Promotion List"]</h5>
		</div>
		<div class="card-body">
			<div class="card-datatable table-responsive">
				<table id="promotion-list" class="table">
					<thead>
						<tr>
							<th>@ViewLocalizer["Action"]</th>
							<th>@ViewLocalizer["Name"] </th>
							<th>@ViewLocalizer["Amount"] </th>
							<th>@ViewLocalizer["Amount Type"]</th>
							<th>@ViewLocalizer["Recurring"]</th>
							<th>@ViewLocalizer["Status"]</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- / Content -->
<!-- /product list -->
<script>

	$(document).ready(function () {


	});
	function getCookie(cname) {
		let name = cname + "=";
		let ca = document.cookie.split(';');
		for (let i = 0; i < ca.length; i++) {
			let c = ca[i];
			while (c.charAt(0) == ' ') {
				c = c.substring(1);
			}
			if (c.indexOf(name) == 0) {
				return c.substring(name.length, c.length);
			}
		}
		return "";
	}
		$("#promotion-list").DataTable({
			"processing": true, // for show progress bar
			"serverSide": true, // for process server side
			dom:
				'<"card-header d-flex border-top rounded-0 flex-wrap py-0 flex-column flex-md-row align-items-start"' +
				'<"me-5 ms-n4 pe-5 mb-n6 mb-md-0">' +
				'<"d-flex justify-content-start justify-content-md-end align-items-baseline"<"dt-action-buttons d-flex flex-column align-items-start align-items-sm-center justify-content-sm-center pt-0 gap-sm-4 gap-sm-0 flex-sm-row"lB>>' +
				'>t' +
				'<"row"' +
				'<"col-sm-12 col-md-6"i>' +
				'<"col-sm-12 col-md-6"p>' +
				'>',
			"orderMulti": false, // for disable multiple column at once
			"ajax": {
				"url": "/Menu/GetPromotionList",
				"type": "POST",
				"datatype": "json",
				"complete": function () {
					$(".imgzoom").each(function () {
						$(this).on("mouseenter", function () {
							var popupContent = document.createElement("div");
							popupContent.classList.add("popupDiv");
							popupContent.innerHTML = "<img src='" + $(this).attr('src') + "' alt = 'zoomimg' style='height: 450px'> ";

							popupContent.style.position = "absolute";

							popupContent.style.top = ($(this).offset().top + -200) + "px";
							popupContent.style.left = ($(this).offset().left + 50) + "px";
							popupContent.style.backgroundColor = "white";
							popupContent.style.padding = "5px";
							popupContent.style.boxShadow = "0 2px 5px rgba(0, 0, 0, 0.5)";
							popupContent.style.zIndex = "9999";
							popupContent.style.borderRadius = "10px";
							document.body.appendChild(popupContent);

							$(this).on("mouseleave", function () {
								//document.body.removeChild(popupContent);
								$(".popupDiv").remove();
							});



						});
					});

				}
			},
			'select': {
				'style': 'multi'
			},
			"pageLength": 10,
			"lengthMenu": [10, 25, 50],
			"order": [[1, 'asc']],
			"columns": [
				{
					'data': 'action', 'name': 'action',
					render: function (data, type, row) {
						return "<a class='me-3' href='/Menu/AddPromotion?promotionID=" + row.id + "'   ><img src='/vendor/img/icons/edit.svg' alt='img'></a><a class='me-3' href='javascript:void(0);'  onclick=DeletePromotion('" + row.id + "'); ><img src='/vendor/img/icons/delete.svg' alt='img'></a>";
					},
				},
				{ "data": "name", "name": "name", "autoWidth": true },
				{ "data": "amount", "name": "amount", "autoWidth": true },
				{ "data": "amountType", "name": "amountType", "autoWidth": true },
				{ "data": "recurring", "name": "recurring", "autoWidth": true },
				{
					'data': 'status', 'name': 'isActive',
					render: function (data, type, row) {
						if (row.isActive) {
							return "<span class='badge bg-label-success' text-capitalized=''>@ViewLocalizer["Active"]</span>";

						}
						else {
							return "<span class='badge bg-label-danger' text-capitalized=''>@ViewLocalizer["InActive"]</span>";
						}
					},
					"autoWidth": true
				},
			],
			// Buttons with Dropdown
			buttons: [

						{
							text: '<i class="ti ti-plus me-0 me-sm-1 ti-xs"></i><span class="d-none d-sm-inline-block">@ViewLocalizer["Add Promotion"]</span>',
							className: 'add-new btn btn-primary ms-2 ms-sm-0 waves-effect waves-light',
							action: function () {
								window.location.href = "/Menu/AddPromotion";
							}
						}
					]
				});
	$('.dataTables_length').addClass('mx-n2');
	$('.dt-buttons').addClass('d-flex flex-wrap mb-6 mb-sm-0');

		function DeletePromotion(id) {
			Swal.fire({
				title: "@ViewLocalizer["Are you sure to delete the promotion?"]",
				text: "",
				type: "warning",
				showCancelButton: !0,
				confirmButtonColor: "#3085d6",
				cancelButtonColor: "#d33",
				confirmButtonText: "@ViewLocalizer["Yes, delete it!"]",
				confirmButtonClass: "btn btn-primary",
				cancelButtonText: "@ViewLocalizer["Close"]",
				cancelButtonClass: "btn btn-danger ml-1",
				buttonsStyling: !1,
			}).then(function (t) {
				if (t.value) {
					$.ajax({
						url: "/Menu/DeletePromotion?promotionID=" + id,
						type: "POST",
						success: function (data, textStatus, jqXHR) {
							if (data.status == 0) {
								$("#promotion-list").DataTable().draw();
							}
							else {
								toastr.error("@ViewLocalizer["Failed to delete the promotion."]", {})
							}
						},
						error: function (jqXHR, textStatus, errorThrown) {
							toastr.error("@ViewLocalizer["There was an error to process the request."]", {})
						}
					});
				}
			});
		}
</script>