@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	var stations = (List<Station>)ViewBag.Stations;
}
<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">

	<!-- Product List Table -->
	<div class="card">
		<div class="card-header">
			<h5 class="card-title">@ViewLocalizer["Manage your Reservaciones"]</h5>
			<div class="d-flex justify-content-between align-items-center row pt-4 gap-6 gap-md-0">
				<div class="col-md-2">
					<input id="filter-searchtext" type="search" class="form-control" placeholder="@ViewLocalizer["Search"]">
				</div>
				<div class="col-md-2">
					<label>@ViewLocalizer["Date To"] </label>
					<input id="filter_reservation_dateto" type="text" class="datetimepicker cal-icon" value="@DateTime.Today.ToString("dd-MM-yyyy")" placeholder="@ViewLocalizer["Choose Date"]">
				</div>
				<div class="col-md-2">
					<label>@ViewLocalizer["Date From"] </label>
					<input id="filter_reservation_datefrom" type="text" class="datetimepicker cal-icon" value="@DateTime.Today.AddDays(-10).ToString("dd-MM-yyyy")" placeholder="@ViewLocalizer["Choose Date"]">
				</div>
				<div class="col-md-2">
					<select id="filter-station" class="select">
						<option value="">ALL</option>
						@foreach (var s in stations)
						{
							<option value="@s.ID">@s.Name</option>
						}
					</select>
				</div>
				<div class="col-md-1">
					<a href="javascript:void(0);" class="btn-pdf" data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="/vendor/img/icons/pdf.svg" alt="img"></a>
					<a href="javascript:void(0);" class="btn-excel" data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="/vendor/img/icons/excel.svg" alt="img"></a>
					<a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="/vendor/img/icons/printer.svg" alt="img"></a>

				</div>
			</div>
		</div>
		<div class="card-datatable table-responsive">
			<table id="reservation-list" class="table">
				<thead>
					<tr>
						<th>@ViewLocalizer["Status"]</th>
						<th>@ViewLocalizer["Station"]</th>
						<th>@ViewLocalizer["Area"]</th>
						<th>@ViewLocalizer["Table"]</th>
						<th>@ViewLocalizer["Date"] </th>
						<th>@ViewLocalizer["Time"]</th>
						<th>@ViewLocalizer["Range(H)"]</th>
						<th>@ViewLocalizer["Name"]</th>
						<th>@ViewLocalizer["Phone"]</th>
						<th>@ViewLocalizer["Count"]</th>
						<th>@ViewLocalizer["Comment"]</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>
<!-- / Content -->
<!-- /product list -->
<script>

	$(document).ready(function () {


		$("#filter-searchtext").on("change keyup", function () {
			FilterReservation();
		});
		$("#filter-station").on("change", function () {
			FilterReservation();
		});

		$("#filter_search").click(function () {
			FilterReservation();
		});
	});

	function getCookie(cname) {
		let name = cname + "=";
		let ca = document.cookie.split(';');
		for (let i = 0; i < ca.length; i++) {
			let c = ca[i];
			while (c.charAt(0) == ' ') {
				c = c.substring(1);
			}
			if (c.indexOf(name) == 0) {
				return c.substring(name.length, c.length);
			}
		}
		return "";
	}
	

	var reservationtable = $("#reservation-list").DataTable({
		"processing": true, // for show progress bar
		"serverSide": true, // for process server side
		dom:
			'<"card-header d-flex border-top rounded-0 flex-wrap py-0 flex-column flex-md-row align-items-start"' +
			'<"me-5 ms-n4 pe-5 mb-n6 mb-md-0">' +
			'<"d-flex justify-content-start justify-content-md-end align-items-baseline"<"dt-action-buttons d-flex flex-column align-items-start align-items-sm-center justify-content-sm-center pt-0 gap-sm-4 gap-sm-0 flex-sm-row"lB>>' +
			'>t' +
			'<"row"' +
			'<"col-sm-12 col-md-6"i>' +
			'<"col-sm-12 col-md-6"p>' +
			'>',
		"orderMulti": false, // for disable multiple column at once
		"ajax": {
			"url": "/Menu/GetReservationList",
			"type": "POST",
			"datatype": "json",
			"complete": function () {
				$(".imgzoom").each(function () {
					$(this).on("mouseenter", function () {
						var popupContent = document.createElement("div");
						popupContent.classList.add("popupDiv");
						popupContent.innerHTML = "<img src='" + $(this).attr('src') + "' alt = 'zoomimg' style='height: 450px'> ";

						popupContent.style.position = "absolute";

						popupContent.style.top = ($(this).offset().top + -200) + "px";
						popupContent.style.left = ($(this).offset().left + 50) + "px";
						popupContent.style.backgroundColor = "white";
						popupContent.style.padding = "5px";
						popupContent.style.boxShadow = "0 2px 5px rgba(0, 0, 0, 0.5)";
						popupContent.style.zIndex = "9999";
						popupContent.style.borderRadius = "10px";
						document.body.appendChild(popupContent);

						$(this).on("mouseleave", function () {
							//document.body.removeChild(popupContent);
							$(".popupDiv").remove();
						});



					});
				});

			}
		},
		'select': {
			'style': 'multi'
		},
		"pageLength": 10,
		"lengthMenu": [10, 25, 50],
		"order": [[1, 'asc']],
		"columns": [
			{
				'data': 'status', 'name': 'status',
				render: function (data, type, row) {
					if (row.status == 0) {
						return "<span class='badges bg-lightgreen'>@ViewLocalizer["Open"]</span>";
					}
					else if (row.status == 1) {
						return "<span class='badges bg-grey'>@ViewLocalizer["Done"]</span>";
					}
					else if (row.status == 2) {
						return "<span class='badges bg-lightred'>@ViewLocalizer["Canceled"]</span>";
					}
					else if (row.status == 3) {
						return "<span class='badges bg-lightgreen'>@ViewLocalizer["Arrived"]</span>";
					}
					else {
						return "";
					}
				},
				"autoWidth": true
			},
			{ "data": "stationName", "name": "stationName", "autoWidth": true },
			{ "data": "areaName", "name": "areaName", "autoWidth": true },
			{ "data": "tableName", "name": "tableName", "autoWidth": true },
			{ "data": "reservationDate", "name": "reservationDate", "autoWidth": true },
			{ "data": "reservationTime", "name": "reservationTime", "autoWidth": true },
			{ "data": "duration", "name": "duration", "autoWidth": true },
			{ "data": "guestName", "name": "guestName", "autoWidth": true },
			{ "data": "phoneNumber", "name": "phoneNumber", "autoWidth": true },
			{ "data": "guestCount", "name": "guestCount", "autoWidth": true },
			{ "data": "comments", "name": "comments", "autoWidth": true },
		],
		// Buttons with Dropdown
		buttons: [
		
		]
	});
	$('.dataTables_length').addClass('mx-n2');
	$('.dt-buttons').addClass('d-flex flex-wrap mb-6 mb-sm-0');

	function FilterReservation() {
		var searchText = $("#filter-searchtext").val();
		var station = $("#filter-station").val();
		if (!station) station = "";
		var from = $("#filter_reservation_datefrom").val();
		var to = $("#filter_reservation_dateto").val();

		reservationtable.columns(0).search(searchText);
		reservationtable.columns(1).search(station);
		reservationtable.columns(2).search(from);
		reservationtable.columns(3).search(to);

		reservationtable.draw();
	}
</script>